<table class="table table-sm table-striped">
  <thead>
  <tr>
    <th scope="col">{{'Buildings.Headquarters.LevelUp.Table.ToUnlock' | translate}}</th>
    <th scope="col">{{'Buildings.Headquarters.LevelUp.Table.Condition1' | translate}}</th>
    <th scope="col">{{'Buildings.Headquarters.LevelUp.Table.Condition2' | translate}}</th>
    <th scope="col">{{'Buildings.Headquarters.LevelUp.Table.Iron' | translate}}</th>
    <th scope="col">{{'Buildings.Headquarters.LevelUp.Table.Food' | translate}}</th>
    <th scope="col">{{'Buildings.Headquarters.LevelUp.Table.Gold' | translate}}</th>
    <th scope="col">{{'Buildings.Headquarters.LevelUp.Table.Days' | translate}}</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Level 15</td>
    <td>{{'Buildings.Headquarters.LevelUp.Table.TechCenter' | translate}} 14</td>
    <td>{{'Buildings.Headquarters.LevelUp.Table.Wall' | translate}} 14</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Level 16</td>
    <td>{{'Buildings.Headquarters.LevelUp.Table.TechCenter' | translate}} 15</td>
    <td>{{'Buildings.Headquarters.LevelUp.Table.AllianceCenter' | translate}} 15</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Level 17</td>
    <td>{{'Buildings.Headquarters.LevelUp.Table.TechCenter' | translate}} 16</td>
    <td>{{'Buildings.Headquarters.LevelUp.Table.TankCenter' | translate}} 16</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Level 18</td>
    <td>{{'Buildings.Headquarters.LevelUp.Table.TechCenter' | translate}} 17</td>
    <td>{{'Buildings.Headquarters.LevelUp.Table.Hospital' | translate}} 17</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Level 19</td>
    <td>{{'Buildings.Headquarters.LevelUp.Table.TechCenter' | translate}} 18</td>
    <td>{{'Buildings.Headquarters.LevelUp.Table.Wall' | translate}} 18</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Level 20</td>
    <td>{{'Buildings.Headquarters.LevelUp.Table.TechCenter' | translate}} 19</td>
    <td>{{'Buildings.Headquarters.LevelUp.Table.Barracks' | translate}} 19</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td>Level 21</td>
    <td>{{'Buildings.Headquarters.LevelUp.Table.TechCenter' | translate}} 20</td>
    <td>{{'Buildings.Headquarters.LevelUp.Table.TankCenter' | translate}} 20</td>
    <td>79.3 M</td>
    <td>79.3 M</td>
    <td>25.6 M</td>
    <td>~3,8</td>
  </tr>
  <tr>
    <td>Level 22</td>
    <td>{{'Buildings.Headquarters.LevelUp.Table.TechCenter' | translate}} 21</td>
    <td>{{'Buildings.Headquarters.LevelUp.Table.DrillGround' | translate}} 21</td>
    <td>105.6 M</td>
    <td>105.6 M</td>
    <td>33.6 M</td>
    <td>~5.5</td>
  </tr>
  <tr>
    <td>Level 23</td>
    <td>{{'Buildings.Headquarters.LevelUp.Table.TechCenter' | translate}} 22</td>
    <td>{{'Buildings.Headquarters.LevelUp.Table.Wall' | translate}} 22</td>
    <td>131.6 M</td>
    <td>131.6 M</td>
    <td>41.3 M</td>
    <td>~6.4</td>
  </tr>
  <tr>
    <td>Level 24</td>
    <td>{{'Buildings.Headquarters.LevelUp.Table.TechCenter' | translate}} 23</td>
    <td>{{'Buildings.Headquarters.LevelUp.Table.AllianceCenter' | translate}} 23</td>
    <td>158.9 M</td>
    <td>158.9 M</td>
    <td>41.3 M</td>
    <td>~8</td>
  </tr>
  <tr>
    <td>Level 25</td>
    <td>{{'Buildings.Headquarters.LevelUp.Table.TechCenter' | translate}} 24</td>
    <td>{{'Buildings.Headquarters.LevelUp.Table.TankCenter' | translate}} 24</td>
    <td>270 M</td>
    <td>270 M</td>
    <td>96.5 M</td>
    <td>~11.5</td>
  </tr>
  <tr>
    <td>Level 26</td>
    <td>{{'Buildings.Headquarters.LevelUp.Table.TechCenter' | translate}} 25</td>
    <td>{{'Buildings.Headquarters.LevelUp.Table.Hospital' | translate}} 25</td>
    <td>374 M</td>
    <td>374 M</td>
    <td>124.5 M</td>
    <td>~15</td>
  </tr>
  <tr>
    <td>Level 27</td>
    <td>{{'Buildings.Headquarters.LevelUp.Table.TechCenter' | translate}} 26</td>
    <td>{{'Buildings.Headquarters.LevelUp.Table.Wall' | translate}} 26</td>
    <td>487.6 M</td>
    <td>487.6 M</td>
    <td>156 M</td>
    <td>~22</td>
  </tr>
  <tr>
    <td>Level 28</td>
    <td>{{'Buildings.Headquarters.LevelUp.Table.TechCenter' | translate}} 27</td>
    <td>{{'Buildings.Headquarters.LevelUp.Table.Barracks' | translate}} 27</td>
    <td>691.9 M</td>
    <td>691.9 M</td>
    <td>224.4 M</td>
    <td>~30</td>
  </tr>
  <tr>
    <td>Level 29</td>
    <td>{{'Buildings.Headquarters.LevelUp.Table.TechCenter' | translate}} 28</td>
    <td>{{'Buildings.Headquarters.LevelUp.Table.TankCenter' | translate}} 28</td>
    <td>925 M</td>
    <td>925 M</td>
    <td>305 M</td>
    <td>~39</td>
  </tr>
  <tr>
    <td>Level 30</td>
    <td>{{'Buildings.Headquarters.LevelUp.Table.TechCenter' | translate}} 29</td>
    <td>{{'Buildings.Headquarters.LevelUp.Table.DrillGround' | translate}} 29</td>
    <td>1280 M</td>
    <td>1280 M</td>
    <td>425 M</td>
    <td>~46</td>
  </tr>
  </tbody>
</table>
