<div class="container pb-5">
  <h3 class="custom-font mt-3 text-center">{{'Buildings.Title' | translate}}</h3>

  <section>
    <hr>
    <h5>{{'Buildings.Headquarters.Title' | translate}}</h5>
    <p>{{'Buildings.Headquarters.Description1' | translate}}</p>
    <p>{{'Buildings.Headquarters.Description2' | translate}}</p>
    <ul>
      <li>{{'Buildings.Headquarters.List1' | translate}}</li>
      <li>{{'Buildings.Headquarters.List2' | translate}}</li>
      <li>{{'Buildings.Headquarters.List3' | translate}}</li>
      <li>{{'Buildings.Headquarters.List4' | translate}}</li>
      <li>{{'Buildings.Headquarters.List5' | translate}}</li>
      <li>{{'Buildings.Headquarters.List6' | translate}}</li>
    </ul>
    <h6>{{'Buildings.Headquarters.LevelUp.Title' | translate}}</h6>
    <p>{{'Buildings.Headquarters.LevelUp.Description1' | translate}}</p>
    <p>{{'Buildings.Headquarters.LevelUp.Description2' | translate}}</p>
    <p>{{'Buildings.Headquarters.LevelUp.Description3' | translate}}</p>
    <div class="table-responsive">
      <app-headqarters-table></app-headqarters-table>
    </div>
  </section>

  <section>
    <hr>
    <h5>{{'Buildings.Barracks.Title' | translate}}</h5>
    <p>{{'Buildings.Barracks.Description1' | translate}}</p>
  </section>

  <section>
    <hr>
    <h5>{{'Buildings.Hospital.Title' | translate}}</h5>
    <p>{{'Buildings.Hospital.Description1' | translate}}</p>
  </section>

  <section>
    <hr>
    <h5>{{'Buildings.DrillGround.Title' | translate}}</h5>
    <p>{{'Buildings.DrillGround.Description1' | translate}}</p>
  </section>

  <section>
    <hr>
    <h5>{{'Buildings.Garages.Title' | translate}}</h5>
    <p>{{'Buildings.Garages.Description1' | translate}}</p>
  </section>

  <section>
    <hr>
    <h5>{{'Buildings.TechCenter.Title' | translate}}</h5>
    <p>{{'Buildings.TechCenter.Description1' | translate}}</p>
  </section>

  <section>
    <hr>
    <h5>{{'Buildings.GearFactory.Title' | translate}}</h5>
    <p>{{'Buildings.GearFactory.Description1' | translate}}</p>
  </section>

  <section>
    <hr>
    <h5>{{'Buildings.ComponentFactory.Title' | translate}}</h5>
    <p>{{'Buildings.ComponentFactory.Description1' | translate}}</p>
  </section>

  <section>
    <hr>
    <h5>{{'Buildings.TankCenter.Title' | translate}}</h5>
    <p>{{'Buildings.TankCenter.Description1' | translate}}</p>
  </section>

  <section>
    <hr>
    <h5>{{'Buildings.AircraftCenter.Title' | translate}}</h5>
    <p>{{'Buildings.AircraftCenter.Description1' | translate}}</p>
  </section>

  <section>
    <hr>
    <h5>{{'Buildings.MissileCenter.Title' | translate}}</h5>
    <p>{{'Buildings.MissileCenter.Description1' | translate}}</p>
  </section>

  <section>
    <hr>
    <h5>{{'Buildings.ResourceCenters.Title' | translate}}</h5>
    <p>{{'Buildings.ResourceCenters.Description1' | translate}}</p>
  </section>
</div>
