<div class="container pb-5">
  <h3 class="custom-font mt-3 text-center">{{'Rules.Title' | translate}}</h3>
  <hr>
  <ol>
    <li>{{'Rules.Rule1.Title' | translate}}</li>
    <ul>
      <li>{{'Rules.Rule1.Description' | translate}}</li>
    </ul>
    <li>{{'Rules.Rule2.Title' | translate}}</li>
    <ul>
      <li>{{'Rules.Rule2.Description' | translate}}</li>
      <li>{{'Rules.Rule2.Description2' | translate}}</li>
      <li><a routerLink="/alliances" fragment="alliance-assembly-place">{{'Rules.Rule2.Description3' | translate}}</a></li>
    </ul>
    <li>{{'Rules.Rule3.Title' | translate}}</li>
    <ul>
      <li>{{'Rules.Rule3.Description' | translate}}</li>
      <li>{{'Rules.Rule3.Description2' | translate}}</li>
      <li><a routerLink="/alliances" fragment="alliance-donate">{{'Rules.Rule3.Description3' | translate}}</a></li>
    </ul>
    <li>{{'Rules.Rule4.Title' | translate}}</li>
    <ul>
      <li>{{'Rules.Rule4.Description' | translate}}</li>
      <li>{{'Rules.Rule4.Description2' | translate}}</li>
    </ul>
    <li>{{'Rules.Rule5.Title' | translate}}</li>
    <ul>
      <li>{{'Rules.Rule5.Description' | translate}}</li>
      <li>{{'Rules.Rule5.Description2' | translate}}</li>
      <li>{{'Rules.Rule5.Description3' | translate}}</li>
      <li><a routerLink="/alliances" fragment="alliance-assembly-place">{{'Rules.Rule5.Description4' | translate}}</a></li>
    </ul>
  </ol>
  <h4>{{'Rules.Note.Title' | translate}}</h4>
  <p class="pb-3">{{'Rules.Note.Description' | translate}}</p>
  <hr class="mt-4">
  <h3 class="custom-font mt-3 text-center">{{'Rules.ServerRules.Title' | translate}}</h3>
  <p><b>{{'Rules.ServerRules.Abuse.Title' | translate}}</b> {{'Rules.ServerRules.Abuse.Rule1' | translate}}</p>
  <p><b>{{'Rules.ServerRules.Zeroing.Title' | translate}}</b> {{'Rules.ServerRules.Zeroing.Rule1' | translate}}</p>
  <p><b>{{'Rules.ServerRules.Trucks.Title' | translate}}</b> {{'Rules.ServerRules.Trucks.Rule1' | translate}}</p>
  <p><b>{{'Rules.ServerRules.Villages.Title' | translate}}</b> {{'Rules.ServerRules.Villages.Rule1' | translate}}</p>
  <h5>{{'Rules.ServerRules.Nap10.Title' | translate}}</h5>
  <p><b>{{'Rules.ServerRules.Nap10.Rule1.Title' | translate}}</b> {{'Rules.ServerRules.Nap10.Rule1.Rule' | translate}}</p>
  <p><b>{{'Rules.ServerRules.Nap10.Rule2.Title' | translate}}</b> {{'Rules.ServerRules.Nap10.Rule2.Rule' | translate}}</p>
  <p><b>{{'Rules.ServerRules.Cities.Title' | translate}}</b> {{'Rules.ServerRules.Cities.Rule1' | translate}}</p>
</div>
