tr.custom-success td {
  background-color: #5cb85c;
  color: black;
}

tr.custom-warning td{
  background-color: #fbc350 !important;
  color: black;
}

tr.custom-danger td{
  background-color: #dc3545 !important; /* rot */
}

tr.custom-to-check td {
  background-color: #4290f6;
  color: black;
}
