.card.text-bg-dark {
  background: rgba(255, 193, 7, 0.1);
  border-radius: 12px;
}
.btn-warning {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 12px 20px;
}


.alert {
  background-color: #222222;
  border: 1px solid #ffc107;
  color: #ffc107;
}
