<div class="container pb-5">
  <h3 class="custom-font mt-3 text-center">{{'Basics.Title' | translate}}</h3>
  <hr>
  <section id="basic-translate">
    <h5>{{'Basics.Translate.Title' | translate}}</h5>
    <p>{{'Basics.Translate.Description' | translate}}</p>
    <div class="image-text-container">
      <small [innerHTML]="'Basics.Translate.Image' | translate"></small>
      <div>
        <img alt="..." class="img-fluid custom-image" src="assets/images/basics/translateIcon.jpg">
      </div>
    </div>
  </section>

  <section id="basic-trucks">
    <h5>{{'Basics.Trucks.Title' | translate}}</h5>
    <p>{{'Basics.Trucks.Description' | translate}}</p>
    <div class="image-text-container">
      <small [innerHTML]="'Basics.Trucks.Image' | translate"></small>
      <div>
        <img alt="..." class="img-fluid custom-image" src="assets/images/basics/truckFilter.png">
      </div>
    </div>
  </section>

  <section id="secret-tasks">
    <h5>{{'Basics.SecretTasks.Title' | translate}}</h5>
    <p>{{'Basics.SecretTasks.Description' | translate}}</p>
    <div class="image-text-container">
      <small>{{'Basics.SecretTasks.Image' | translate}}</small>
      <div>
        <img alt="..." class="img-fluid custom-image" src="assets/images/basics/secretTask/secret.jpg">
      </div>
    </div>
    <h6>{{'Basics.SecretTasks.Title2' | translate}}</h6>
    <div class="image-text-container">
      <small>{{'Basics.SecretTasks.Image1' | translate}}</small>
      <div>
        <img alt="..." class="img-fluid custom-image" src="assets/images/basics/secretTask/secret01.jpg">
      </div>
    </div>
    <div class="image-text-container">
      <small>{{'Basics.SecretTasks.Image2' | translate}}</small>
      <div>
        <img alt="..." class="img-fluid custom-image" src="assets/images/basics/secretTask/secret02.jpg">
      </div>
    </div>
    <div class="image-text-container">
      <small>{{'Basics.SecretTasks.Image3' | translate}}</small>
      <div>
        <img alt="..." class="img-fluid custom-image" src="assets/images/basics/secretTask/secret03.jpg">
      </div>
    </div>
    <div class="image-text-container">
      <small>{{'Basics.SecretTasks.Image4' | translate}}</small>
      <div>
        <img alt="..." class="img-fluid custom-image" src="assets/images/basics/secretTask/secret04.jpg">
      </div>
    </div>
    <div class="image-text-container">
      <small>{{'Basics.SecretTasks.Image5' | translate}}</small>
      <div>
        <img alt="..." class="img-fluid custom-image" src="assets/images/basics/secretTask/secret05.jpg">
      </div>
    </div>
  </section>
</div>
