<header></header>
<div class="container mt-3">
  <h1 class="custom-font">Old Vikings</h1>
  <h5>Last War Server #469</h5>

  <section>{{'Home.Welcome' | translate}}</section>

  <section>{{'Home.Section1' | translate}}</section>

  <section>
    <p class="fw-bold">{{'Home.WhatToExpect.Title' | translate}}</p>
    <ul>
      <li>{{'Home.WhatToExpect.List1' | translate}}</li>
      <li>{{'Home.WhatToExpect.List2' | translate}}</li>
      <li>{{'Home.WhatToExpect.List3' | translate}}</li>
      <li>{{'Home.WhatToExpect.List4' | translate}}</li>
    </ul>
  </section>

  <section>{{'Home.Section2' | translate}}</section>
</div>
