header {
  background-image: url("../../../assets/images/background.jpg");
  width: 100%;
  height: 250px;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  @media screen and (max-width: 427px) {
    height: 150px;
  }
}

h1, h5 {
  text-align: center;
}

section {
  padding-bottom: 12px;
}
