
  <img src="../../../assets/images/background2.jpg" alt="Banner" class="header-image" />

<div class="container mt-3 pb-5">
  <h1 class="custom-font">Old Vikings</h1>
  <h5>Last War Server #469</h5>

<section class="d-grid gap-2 col-6 mx-auto mb-3">
  <button type="button" class="btn btn-warning" routerLink="/guestbook">
    {{'Home.Guestbook' | translate}}
  </button>
</section>


  <section>{{'Home.Welcome' | translate}}</section>

  <section>{{'Home.Section1' | translate}}</section>

  <section>
    <p class="fw-bold">{{'Home.WhatToExpect.Title' | translate}}</p>
    <ul>
      <li>{{'Home.WhatToExpect.List1' | translate}}</li>
      <li>{{'Home.WhatToExpect.List2' | translate}}</li>
      <li>{{'Home.WhatToExpect.List3' | translate}}</li>
      <li>{{'Home.WhatToExpect.List4' | translate}}</li>
    </ul>
  </section>

  <section>
    <p class="fw-bold">{{'Home.Allies.Title' | translate}}</p>
    <ul>
      <li>aCE - The Phoenix Flame</li>
      <li>{{'Home.Allies.Allie2' | translate}}</li>
    </ul>
  </section>

  <section>
    <p class="fw-bold">{{'Home.Nap.Title' | translate}}</p>
    <ul>
      <li></li>
    </ul>
  </section>

  <section>
    <h4>{{'Home.CrossServerAlliances.Title' | translate}}</h4>
    <p class="fw-bold">Server #459</p>
    <ul>
      <li>SuG - Simply Relaxed</li>
    </ul>
    <p class="fw-bold">Server #509</p>
    <ul>
      <li>AoW - Art of War</li>
    </ul>
  </section>

  <section>{{'Home.Section2' | translate}}</section>


  @if (vsDay.link) {
    <hr>
    <section class="text-center">
      <h5>{{'Home.Vs.Title' | translate}} {{vsDay.description | translate}}</h5>
      <p>{{'Home.Vs.Description' | translate}} </p>
      <a [routerLink]="['/vs']" fragment="{{vsDay.link}}" [queryParams]="{ openDay: vsDay.link }">{{'Home.Vs.Link' | translate}} </a>
    </section>
  }

  <hr>


  <section>
    <h5>{{'Home.Information.Title' | translate}}</h5>
    <p>{{'Home.Information.Description' | translate}}</p>
    <ul>
      <li><a routerLink="/rules">{{'Home.Information.Rules' | translate}}</a></li>
      <li><a routerLink="/basics">{{'Home.Information.Basics' | translate}}</a></li>
      <li><a routerLink="/tips-and-tricks">{{'Home.Information.TipsAndTricks' | translate}}</a></li>
      <li><a routerLink="/vs">{{'Home.Information.Vs' | translate}}</a></li>
    </ul>
  </section>
<hr>
  <section class="player-manager-box text-center p-4 mt-4">
    <h4>📊 {{'Home.PlayerManager.Title' | translate}}</h4>
    <p>{{'Home.PlayerManager.Description' | translate}}</p>
    <a routerLink="/player-manager" class="btn btn-primary">{{'Home.PlayerManager.Button' | translate}}</a>
  </section>

</div>
