<div class="container fadeInUp">
  <h2>Leaderboard - Top Spieler</h2>
  <div class="table-container">
    <table class="table table-striped">
    <thead>
    <tr>
      <th>Rank</th>
      <th>Player</th>
      <th>Alliance Loot Rewards</th>
      <th>Saison 3 Rewards</th>
      <th>Participation in Spice Wars</th>
      <th>Score Points</th>
    </tr>
    </thead>
    <tbody>
    <tr><td>1</td><td>ThorCH</td><td>31</td><td>Alliance Leader Reward</td><td>8</td><td>148.83</td></tr>
    <tr class="tactical"><td>2</td><td>Electriksheep</td><td>26</td><td>Tactician Reward</td><td>8</td><td>147.44</td></tr>
    <tr class="tactical"><td>3</td><td>Marceldinkie</td><td>23</td><td>Tactician Reward</td><td>8</td><td>147.21</td></tr>
    <tr class="tactical"><td>4</td><td>Wiki L</td><td>21</td><td>Tactician Reward</td><td>8</td><td>146.46</td></tr>
    <tr class="core"><td>5</td><td>desastreus</td><td>21</td><td>Core Member Reward</td><td>8</td><td>143.36</td></tr>
    <tr class="core"><td>6</td><td>Rosscoz</td><td>16</td><td>Core Member Reward</td><td>8</td><td>143.25</td></tr>
    <tr class="core"><td>7</td><td>Viking king Micand</td><td>16</td><td>Core Member Reward</td><td>8</td><td>139.97</td></tr>
    <tr class="core"><td>8</td><td>Backup Jack</td><td>16</td><td>Core Member Reward</td><td>8</td><td>139.76</td></tr>
    <tr class="core"><td>9</td><td>Käptain Jack</td><td>16</td><td>Core Member Reward</td><td>8</td><td>138.67</td></tr>
    <tr class="core"><td>10</td><td>Power 1988</td><td>16</td><td>Core Member Reward</td><td>8</td><td>137.95</td></tr>
    <tr class="core"><td>11</td><td>Oerwoud</td><td>11</td><td>Core Member Reward</td><td>8</td><td>137.7</td></tr>
    <tr class="tactical"><td>12</td><td>forrgaet</td><td>11</td><td>Tactician Reward</td><td>7</td><td>130.07</td></tr>
    <tr class="core"><td>13</td><td>Mr Xfire</td><td>10</td><td>Core Member Reward</td><td>7</td><td>127.37</td></tr>
    <tr class="core"><td>14</td><td>Arvad</td><td>10</td><td>Core Member Reward</td><td>7</td><td>124.8</td></tr>
    <tr class="core"><td>15</td><td>wetfart</td><td>10</td><td>Core Member Reward</td><td>7</td><td>124.63</td></tr>
    <tr class="core"><td>16</td><td>Hoppit</td><td>10</td><td>Core Member Reward</td><td>7</td><td>122.07</td></tr>
    <tr class="core"><td>17</td><td>koras22</td><td>10</td><td>Core Member Reward</td><td>7</td><td>121.84</td></tr>
    <tr class="core"><td>18</td><td>YLBH001</td><td>10</td><td>Core Member Reward</td><td>7</td><td>120.96</td></tr>
    <tr class="core"><td>19</td><td>Bigzak11</td><td>10</td><td>Core Member Reward</td><td>7</td><td>116.82</td></tr>
    <tr class="core"><td>20</td><td>Skoll Fenris</td><td>10</td><td>Core Member Reward</td><td>6</td><td>107.45</td></tr>
    <tr class="elite"><td>21</td><td>Bjorngij</td><td>6</td><td>Elite Member Reward</td><td>6</td><td>106.8</td></tr>
    <tr class="elite"><td>22</td><td>Faye the drama queen</td><td>6</td><td>Elite Member Reward</td><td>6</td><td>106.44</td></tr>
    <tr class="elite"><td>23</td><td>Bastiano Defilippis</td><td>6</td><td>Elite Member Reward</td><td>6</td><td>105.98</td></tr>
    <tr class="elite"><td>24</td><td>Kartoh</td><td>6</td><td>Elite Member Reward</td><td>6</td><td>105.9</td></tr>
    <tr class="elite"><td>25</td><td>Fitzy4</td><td>6</td><td>Elite Member Reward</td><td>6</td><td>105.54</td></tr>
    <tr class="elite"><td>26</td><td>Kommandant Tony</td><td>6</td><td>Elite Member Reward</td><td>6</td><td>102.76</td></tr>
    <tr class="elite"><td>27</td><td>Atg0000</td><td>6</td><td>Elite Member Reward</td><td>6</td><td>101.16</td></tr>
    <tr class="elite"><td>28</td><td>Dr Mag</td><td>6</td><td>Elite Member Reward</td><td>5</td><td>89</td></tr>
    <tr class="elite"><td>29</td><td>Seanrob</td><td>6</td><td>Elite Member Reward</td><td>5</td><td>86.1</td></tr>
    <tr class="elite"><td>30</td><td>Robins772000</td><td>6</td><td>Elite Member Reward</td><td>5</td><td>86.72</td></tr>
    <tr class="elite"><td>31</td><td>MasBow</td><td>6</td><td>Elite Member Reward</td><td>5</td><td>85.39</td></tr>
    <tr class="elite"><td>32</td><td>Ymir71</td><td>6</td><td>Elite Member Reward</td><td>5</td><td>85.1</td></tr>
    <tr class="elite"><td>33</td><td>socketeer</td><td>6</td><td>Elite Member Reward</td><td>4</td><td>70.33</td></tr>
    <tr class="elite"><td>34</td><td>Lifeboat1732</td><td>6</td><td>Elite Member Reward</td><td>4</td><td>69.06</td></tr>
    <tr class="elite"><td>35</td><td>Santa Clauss</td><td>6</td><td>Elite Member Reward</td><td>4</td><td>68.01</td></tr>
    <tr class="elite"><td>36</td><td>ChaseTheAce88</td><td>6</td><td>Elite Member Reward</td><td>4</td><td>67.71</td></tr>
    <tr class="elite"><td>37</td><td>duuuuuu</td><td>6</td><td>Elite Member Reward</td><td>4</td><td>67.67</td></tr>
    <tr class="elite"><td>38</td><td>Captain BlackBeard</td><td>6</td><td>Elite Member Reward</td><td>4</td><td>67.31</td></tr>
    <tr class="elite"><td>39</td><td>No 1 JJ</td><td>6</td><td>Elite Member Reward</td><td>4</td><td>66.72</td></tr>
    <tr class="elite"><td>40</td><td>SpaceKeeper</td><td>6</td><td>Elite Member Reward</td><td>4</td><td>66.44</td></tr>
    <tr class="elite"><td>41</td><td>Happy crisis</td><td>5</td><td>Elite Member Reward</td><td>4</td><td>66.08</td></tr>
    <tr class="elite"><td>42</td><td>marsal89</td><td>5</td><td>Elite Member Reward</td><td>4</td><td>64.52</td></tr>
    <tr class="elite"><td>43</td><td>Buuuuuuuu</td><td>5</td><td>Elite Member Reward</td><td>3</td><td>52.14</td></tr>
    <tr class="elite"><td>44</td><td>Jors102</td><td>5</td><td>Elite Member Reward</td><td>3</td><td>51.8</td></tr>
    <tr class="elite"><td>45</td><td>Tom0593</td><td>5</td><td>Elite Member Reward</td><td>3</td><td>51.68</td></tr>
    <tr class="elite"><td>46</td><td>JJ2327</td><td>5</td><td>Elite Member Reward</td><td>3</td><td>50.95</td></tr>
    <tr class="elite"><td>47</td><td>The Don90</td><td>5</td><td>Elite Member Reward</td><td>3</td><td>50.51</td></tr>
    <tr class="elite"><td>48</td><td>DongerDL</td><td>5</td><td>Elite Member Reward</td><td>3</td><td>50.43</td></tr>
    <tr class="elite"><td>49</td><td>AskerErsen</td><td>5</td><td>Elite Member Reward</td><td>3</td><td>50.27</td></tr>
    <tr class="elite"><td>50</td><td>Bylli88</td><td>5</td><td>Elite Member Reward</td><td>3</td><td>48.72</td></tr>
    <tr><td>51</td><td>breker</td><td>5</td><td>Valued Member Reward</td><td>3</td><td>47.8</td></tr>
    <tr><td>52</td><td>dahäd</td><td>5</td><td>Valued Member Reward</td><td>3</td><td>47.67</td></tr>
    <tr><td>53</td><td>Dr alaasafadi</td><td>5</td><td>Valued Member Reward</td><td>2</td><td>35.29</td></tr>
    <tr><td>54</td><td>Pau Dourado</td><td>5</td><td>Valued Member Reward</td><td>2</td><td>33.69</td></tr>
    <tr><td>55</td><td>N1ghtLord</td><td>5</td><td>Valued Member Reward</td><td>2</td><td>33.44</td></tr>
    <tr><td>56</td><td>Jonny Arson</td><td>5</td><td>Valued Member Reward</td><td>2</td><td>33.44</td></tr>
    <tr><td>57</td><td>Tullfritt</td><td>5</td><td>Valued Member Reward</td><td>2</td><td>32.99</td></tr>
    <tr><td>58</td><td>Il Predestinato 16</td><td>5</td><td>Valued Member Reward</td><td>2</td><td>32.83</td></tr>
    <tr><td>59</td><td>jaydee1984</td><td>5</td><td>Valued Member Reward</td><td>2</td><td>32.83</td></tr>
    <tr><td>60</td><td>okok192</td><td>5</td><td>Valued Member Reward</td><td>2</td><td>30.93</td></tr>
    <tr><td>61</td><td>AllenEGO</td><td>2</td><td>Valued Member Reward</td><td>2</td><td>30.46</td></tr>
    <tr><td>62</td><td>FPO</td><td>2</td><td>Valued Member Reward</td><td>1</td><td>16.94</td></tr>
    <tr><td>63</td><td>M3ssirv4</td><td>2</td><td>Valued Member Reward</td><td>1</td><td>16.62</td></tr>
    <tr><td>64</td><td>Mendes129</td><td>2</td><td>Valued Member Reward</td><td>1</td><td>16.41</td></tr>
    <tr><td>65</td><td>WilsOn</td><td>2</td><td>Valued Member Reward</td><td>1</td><td>16.29</td></tr>
    <tr><td>66</td><td>Torulf</td><td>2</td><td>Valued Member Reward</td><td>1</td><td>15.85</td></tr>
    <tr><td>67</td><td>Lozzzzz</td><td>2</td><td>Valued Member Reward</td><td>1</td><td>15.6</td></tr>
    <tr><td>68</td><td>Quinteni</td><td>2</td><td>Valued Member Reward</td><td>1</td><td>15.49</td></tr>
    <tr><td>69</td><td>Nelimator</td><td>2</td><td>Valued Member Reward</td><td>1</td><td>15.4</td></tr>
    <tr><td>70</td><td>Maxxlux</td><td>2</td><td>Valued Member Reward</td><td>1</td><td>15.14</td></tr>
    <tr><td>71</td><td>Lestat76</td><td>2</td><td>Valued Member Reward</td><td>1</td><td>14.85</td></tr>
    <tr><td>72</td><td>Rouge108</td><td>2</td><td>Valued Member Reward</td><td>1</td><td>14.83</td></tr>
    <tr><td>73</td><td>loki059</td><td>2</td><td>Valued Member Reward</td><td>1</td><td>14.81</td></tr>
    <tr><td>74</td><td>Stefan1010</td><td>2</td><td>Valued Member Reward</td><td>1</td><td>14.47</td></tr>
    <tr class="red-bg"><td>75</td><td>Jetlife Headquaters</td><td>0</td><td>Valued Member Reward</td><td>0</td><td>0</td></tr>
    <tr class="red-bg"><td>76</td><td>MrVittu</td><td>0</td><td>Valued Member Reward</td><td>0</td><td>0</td></tr>
    <tr class="red-bg"><td>77</td><td>Ben123321</td><td>0</td><td>Valued Member Reward</td><td>0</td><td>0</td></tr>
    <tr class="red-bg"><td>78</td><td>Flak Donbass</td><td>0</td><td>Valued Member Reward</td><td>0</td><td>0</td></tr>
    <tr class="red-bg"><td>79</td><td>Mr Twister</td><td>0</td><td>Valued Member Reward</td><td>0</td><td>0</td></tr>
    <tr class="red-bg"><td>80</td><td>Commander KJ</td><td>0</td><td>Valued Member Reward</td><td>0</td><td>0</td></tr>
    <tr class="red-bg"><td>81</td><td>Kantsi</td><td>0</td><td>Valued Member Reward</td><td>0</td><td>0</td></tr>
    <tr class="red-bg"><td>82</td><td>Dommyynator</td><td>0</td><td>Valued Member Reward</td><td>0</td><td>0</td></tr>
    <tr class="red-bg"><td>83</td><td>Jeroenos</td><td>0</td><td>Valued Member Reward</td><td>0</td><td>0</td></tr>
    <tr class="red-bg"><td>84</td><td>Chimakun</td><td>0</td><td>Valued Member Reward</td><td>0</td><td>0</td></tr>
    <tr class="red-bg"><td>85</td><td>Ttiant</td><td>0</td><td>Valued Member Reward</td><td>0</td><td>0</td></tr>
    <tr class="red-bg"><td>86</td><td>Skillz10</td><td>0</td><td>Valued Member Reward</td><td>0</td><td>0</td></tr>
    <tr class="red-bg"><td>87</td><td>Artic Viking</td><td>0</td><td>Valued Member Reward</td><td>0</td><td>0</td></tr>
    </tbody>
  </table>
</div>
</div>
