<div class="container pb-5">
  <h3 class="custom-font mt-3 text-center">{{'SeasonTwo.Celebration.Title' | translate}}</h3>
  <hr>

  <p>{{'SeasonTwo.Celebration.Description' | translate}}</p>

  <section class="mb-5">
    <h2>{{'SeasonTwo.Celebration.Profession.Title' | translate}}</h2>
    <p>{{'SeasonTwo.Celebration.Profession.Description' | translate}}</p>
  </section>

  <section class="mb-5">
    <h2>{{'SeasonTwo.Celebration.Week1.Title' | translate}}</h2>
    <ol>
      <li>{{'SeasonTwo.Celebration.Week1.List1' | translate}}</li>
      <li>{{'SeasonTwo.Celebration.Week1.List2' | translate}}</li>
      <li>{{'SeasonTwo.Celebration.Week1.List3' | translate}}</li>
      <li>{{'SeasonTwo.Celebration.Week1.List4' | translate}}</li>
    </ol>
  </section>

  <section class="mb-5">
    <h3>{{'SeasonTwo.Celebration.ServerWideMissions.Title' | translate}}</h3>
    <p>{{'SeasonTwo.Celebration.ServerWideMissions.Description' | translate}}</p>

    <h4 class="mission">{{'SeasonTwo.Celebration.ServerWideMissions.Mission1.Title' | translate}}</h4>
    <p>{{'SeasonTwo.Celebration.ServerWideMissions.Mission1.Description' | translate}}</p>
    <div class="d-flex justify-content-center pb-3">
      <img alt="..." class="img-fluid" src="assets/images/seasonTwo/celebration/AgeOfOil.png">
    </div>

    <h4 class="mission">{{'SeasonTwo.Celebration.ServerWideMissions.Mission2.Title' | translate}}</h4>
    <p>{{'SeasonTwo.Celebration.ServerWideMissions.Mission2.Description' | translate}}</p>
    <p>{{'SeasonTwo.Celebration.ServerWideMissions.Mission2.Description2' | translate}}</p>
    <div class="d-flex justify-content-center pb-3">
      <img alt="..." class="img-fluid" src="assets/images/seasonTwo/celebration/Area.png">
    </div>

    <h4 class="mission">{{'SeasonTwo.Celebration.ServerWideMissions.Mission3.Title' | translate}}</h4>
    <p>{{'SeasonTwo.Celebration.ServerWideMissions.Mission3.Description' | translate}}</p>
  </section>

  <section class="mb-5">
    <h2>{{'SeasonTwo.Celebration.Research.Title' | translate}}</h2>
    <p>{{'SeasonTwo.Celebration.Research.Description' | translate}}</p>
    <p [innerHTML]="'SeasonTwo.Celebration.Research.Description2' | translate"></p>

    <div class="d-flex justify-content-center pb-3">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/celebration/Oil.png">
    </div>

    <h4>{{'SeasonTwo.Celebration.Research.Upgrade.Title' | translate}}</h4>
    <p>{{'SeasonTwo.Celebration.Research.Upgrade.Description' | translate}}</p>

    <h4>{{'SeasonTwo.Celebration.Research.Strategy.Title' | translate}}</h4>
    <p [innerHTML]="'SeasonTwo.Celebration.Research.Strategy.Description' | translate"></p>
    <div class="d-flex justify-content-center pb-3">
      <img alt="..." class="img-fluid" src="assets/images/seasonTwo/celebration/Tech.png">
    </div>
  </section>

  <section class="mb-5">
    <h2>{{'SeasonTwo.Celebration.Hq.Title' | translate}}</h2>
    <p [innerHTML]="'SeasonTwo.Celebration.Hq.Description' | translate"></p>
    <table class="table table-bordered">
      <thead class="table-primary">
      <tr>
        <th>{{'SeasonTwo.Celebration.Hq.Table.Header' | translate}}</th>
        <th>{{'SeasonTwo.Celebration.Hq.Table.Header2' | translate}}</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>31</td>
        <td>{{'SeasonTwo.Celebration.Hq.Table.Row1' | translate}}</td>
      </tr>
      <tr>
        <td>32</td>
        <td>{{'SeasonTwo.Celebration.Hq.Table.Row2' | translate}}</td>
      </tr>
      <tr>
        <td>33</td>
        <td>{{'SeasonTwo.Celebration.Hq.Table.Row3' | translate}}</td>
      </tr>
      <tr>
        <td>34</td>
        <td>{{'SeasonTwo.Celebration.Hq.Table.Row4' | translate}}</td>
      </tr>
      <tr>
        <td>35</td>
        <td>{{'SeasonTwo.Celebration.Hq.Table.Row5' | translate}}</td>
      </tr>
      </tbody>
    </table>
  </section>

  <section class="mb-5">
    <h2>{{'SeasonTwo.Celebration.Week2.Title' | translate}}</h2>
    <h3>{{'SeasonTwo.Celebration.Week2.ServerMission' | translate}}</h3>
    <h4 class="mission">{{'SeasonTwo.Celebration.Week2.Mission1.Title' | translate}}</h4>
      <p>{{'SeasonTwo.Celebration.Week2.Mission1.Description' | translate}}</p>

    <h4 class="mission">{{'SeasonTwo.Celebration.Week2.Mission2.Title' | translate}}</h4>
      <p>{{'SeasonTwo.Celebration.Week2.Mission2.Description' | translate}}</p>

    <h4 class="mission">{{'SeasonTwo.Celebration.Week2.Mission3.Title' | translate}}</h4>
      <p>{{'SeasonTwo.Celebration.Week2.Mission3.Description' | translate}}</p>

    <h4>{{'SeasonTwo.Celebration.Week2.Event.Title' | translate}}</h4>
    <p>{{'SeasonTwo.Celebration.Week2.Event.Description' | translate}}</p>

    <h2>{{'SeasonTwo.Celebration.Week3.Title' | translate}}</h2>
    <p>{{'SeasonTwo.Celebration.Week3.Description' | translate}}</p>
  </section>

  <footer>

  </footer>
</div>
