<h1 class="text-center fw-bold display-6 mb-4">{{'R4Roles.Title' | translate}}</h1>
@if (leader) {
  <div class="container text-center py-4">
    <!-- Allianzführer -->
    <div class="card shadow-lg mb-5 mx-auto" style="max-width: 300px;">
      <div class="card-body">
        <h3 class="card-title">{{ leader.roleName }}</h3>
        <img [src]="leader.imageUrl" alt="{{leader.roleName}}" class="my-3">
        <p class="card-text text-warning">{{ leader.playerName }}</p>
      </div>
    </div>

    <!-- Posten -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4">
      <div class="col" *ngFor="let role of r4Roles">
        <div class="card h-100 text-center">
          <div class="card-body">
            <h6 class="card-title">{{ role.roleName }}</h6>
            <img  [src]="role.imageUrl" alt="Bild {{ role.roleName }}" class="my-2">
            <p class="card-text  text-warning">{{ role.playerName }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <h2 class="text-center mb-4">{{'R4Roles.DescriptionTitle' | translate}}</h2>

    <div class="container pb-5">
      <div class="row g-4">

        <!-- Alliance Marshal -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card h-100 shadow-sm border-0 text-center bg-dark text-light">
            <div class="card-body px-4">
              <!-- Abzeichen -->
              <div class="mb-3">
                <img src="assets/images/r4Roles/leader.png"
                     alt="Operations Commander – VS"
                     style="width: 60px; height: 60px; object-fit: cover;">
              </div>

              <!-- Titel -->
              <h5 class="card-title fw-bold text-warning mb-3">Alliance Marshal</h5>

              <!-- Aufgabenliste -->
              <ul class="list-unstyled text-start small">
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Marshal.Description' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Marshal.Description2' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Marshal.Description3' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Marshal.Description4' | translate}}</li>
              </ul>
            </div>
          </div>
        </div>

        <!-- Operations Commander – VS -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card h-100 shadow-sm border-0 text-center bg-dark text-light">
            <div class="card-body px-4">
              <!-- Abzeichen -->
              <div class="mb-3">
                <img src="../../../assets/images/r4Roles/vs.png"
                     alt="Operations Commander – VS"
                     style="width: 60px; height: 60px; object-fit: cover;">
              </div>

              <!-- Titel -->
              <h5 class="card-title fw-bold text-warning mb-3">Operations Commander – VS</h5>

              <!-- Aufgabenliste -->
              <ul class="list-unstyled text-start small">
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Vs.Description' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Vs.Description2' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Vs.Description3' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Vs.Description4' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Vs.Description5' | translate}}</li>
              </ul>
            </div>
          </div>
        </div>


        <!-- Tactical Events Officer -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card h-100 shadow-sm border-0 text-center bg-dark text-light">
            <div class="card-body px-4">
              <!-- Abzeichen -->
              <div class="mb-3">
                <img src="../../../assets/images/r4Roles/marshal.png"
                     alt="Operations Commander – VS"
                     style="width: 60px; height: 60px; object-fit: cover;">
              </div>

              <!-- Titel -->
              <h5 class="card-title fw-bold text-warning mb-3">Tactical Events Officer</h5>

              <!-- Aufgabenliste -->
              <ul class="list-unstyled text-start small">
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Tactical.Description' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Tactical.Description2' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Tactical.Description3' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Tactical.Description4' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Tactical.Description5' | translate}}</li>
              </ul>
            </div>
          </div>
        </div>


        <!-- Commander – Desert Division -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card h-100 shadow-sm border-0 text-center bg-dark text-light">
            <div class="card-body px-4">
              <!-- Abzeichen -->
              <div class="mb-3">
                <img src="../../../assets/images/r4Roles/ds.png"
                     alt="Operations Commander – VS"
                     style="width: 60px; height: 60px; object-fit: cover;">
              </div>

              <!-- Titel -->
              <h5 class="card-title fw-bold text-warning mb-3">Commander – Desert Division</h5>

              <!-- Aufgabenliste -->
              <ul class="list-unstyled text-start small">
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Desert.Description' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Desert.Description2' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Desert.Description3' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Desert.Description4' | translate}}</li>
              </ul>
            </div>
          </div>
        </div>


        <!-- Personnel Officer -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card h-100 shadow-sm border-0 text-center bg-dark text-light">
            <div class="card-body px-4">
              <!-- Abzeichen -->
              <div class="mb-3">
                <img src="../../../assets/images/r4Roles/rekrut.png"
                     alt="Operations Commander – VS"
                     style="width: 60px; height: 60px; object-fit: cover;">
              </div>

              <!-- Titel -->
              <h5 class="card-title fw-bold text-warning mb-3">Personnel Officer</h5>
              <!-- Aufgabenliste -->
              <ul class="list-unstyled text-start small">
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Personnel.Description' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Personnel.Description2' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Personnel.Description3' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Personnel.Description4' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Personnel.Description5' | translate}}</li>
              </ul>
            </div>
          </div>
        </div>


        <!-- Intel & Strategy Commander -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card h-100 shadow-sm border-0 text-center bg-dark text-light">
            <div class="card-body px-4">
              <!-- Abzeichen -->
              <div class="mb-3">
                <img src="../../../assets/images/r4Roles/wiki.png"
                     alt="Operations Commander – VS"
                     style="width: 60px; height: 60px; object-fit: cover;">
              </div>

              <!-- Titel -->
              <h5 class="card-title fw-bold text-warning mb-3">Intel & Strategy Commander</h5>
              <!-- Aufgabenliste -->
              <ul class="list-unstyled text-start small">
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Strategy.Description' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Strategy.Description2' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Strategy.Description3' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Strategy.Description4' | translate}}</li>
              </ul>
            </div>
          </div>
        </div>


        <!-- Logistics Officer – Train Unit -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card h-100 shadow-sm border-0 text-center bg-dark text-light">
            <div class="card-body px-4">
              <!-- Abzeichen -->
              <div class="mb-3">
                <img src="../../../assets/images/r4Roles/train.png"
                     alt="Operations Commander – VS"
                     style="width: 60px; height: 60px; object-fit: cover;">
              </div>

              <!-- Titel -->
              <h5 class="card-title fw-bold text-warning mb-3">Logistics Officer – Train Unit</h5>
              <!-- Aufgabenliste -->
              <ul class="list-unstyled text-start small">
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Train.Description' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Train.Description2' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Train.Description3' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Train.Description4' | translate}}</li>
              </ul>
            </div>
          </div>
        </div>


        <!-- Supply Officer – Donations -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card h-100 shadow-sm border-0 text-center bg-dark text-light">
            <div class="card-body px-4">
              <!-- Abzeichen -->
              <div class="mb-3">
                <img src="../../../assets/images/r4Roles/spende.png"
                     alt="Operations Commander – VS"
                     style="width: 60px; height: 60px; object-fit: cover;">
              </div>

              <!-- Titel -->
              <h5 class="card-title fw-bold text-warning mb-3">Supply Officer – Donations</h5>
              <!-- Aufgabenliste -->
              <ul class="list-unstyled text-start small">
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Donations.Description' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Donations.Description2' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Donations.Description3' | translate}}</li>
              </ul>
            </div>
          </div>
        </div>


        <!-- Special Operations Officer -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card h-100 shadow-sm border-0 text-center bg-dark text-light">
            <div class="card-body px-4">
              <!-- Abzeichen -->
              <div class="mb-3">
                <img src="../../../assets/images/r4Roles/customEvent.png"
                     alt="Operations Commander – VS"
                     style="width: 60px; height: 60px; object-fit: cover;">
              </div>

              <!-- Titel -->
              <h5 class="card-title fw-bold text-warning mb-3">Special Operations Officer</h5>
              <!-- Aufgabenliste -->
              <ul class="list-unstyled text-start small">
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Special.Description' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Special.Description2' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Special.Description3' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Special.Description4' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Special.Description5' | translate}}</li>
              </ul>
            </div>
          </div>
        </div>


        <!-- Discipline & Conduct Officer -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card h-100 shadow-sm border-0 text-center bg-dark text-light">
            <div class="card-body px-4">
              <!-- Abzeichen -->
              <div class="mb-3">
                <img src="../../../assets/images/r4Roles/zombie.png"
                     alt="Operations Commander – VS"
                     style="width: 60px; height: 60px; object-fit: cover;">
              </div>

              <!-- Titel -->
              <h5 class="card-title fw-bold text-warning mb-3">Discipline & Conduct Officer</h5>
              <!-- Aufgabenliste -->
              <ul class="list-unstyled text-start small">
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Discipline.Description' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Discipline.Description2' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Discipline.Description3' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.Discipline.Description4' | translate}}</li>
              </ul>
            </div>
          </div>
        </div>


        <!-- Commander – War Theater -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card h-100 shadow-sm border-0 text-center bg-dark text-light">
            <div class="card-body px-4">
              <!-- Abzeichen -->
              <div class="mb-3">
                <img src="../../../assets/images/r4Roles/warlord.png"
                     alt="Operations Commander – VS"
                     style="width: 60px; height: 60px; object-fit: cover;">
              </div>

              <!-- Titel -->
              <h5 class="card-title fw-bold text-warning mb-3">Commander – War Theater</h5>
              <!-- Aufgabenliste -->
              <ul class="list-unstyled text-start small">
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.War.Description' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.War.Description2' | translate}}</li>
                <li><i class="bi bi-check-circle-fill text-success me-2"></i>{{'R4Roles.War.Description3' | translate}}</li>
              </ul>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>


}


