<div class="container pb-5">
  <h3 class="custom-font mt-3 text-center">{{'Capitol.Title' | translate}}</h3>
  <hr>
  <p>{{'Capitol.Description' | translate}}</p>
  <p>{{'Capitol.Description2' | translate}}</p>

  <h5>{{'Capitol.Buffs.Title' | translate}}</h5>
  <p>{{'Capitol.Buffs.Description' | translate}}</p>
  <ul>
    <li>{{'Capitol.Buffs.List1.Text' | translate}}</li>
    <ul>
      <li>{{'Capitol.Buffs.List1.List.List1' | translate}}</li>
      <li>{{'Capitol.Buffs.List1.List.List2' | translate}}</li>
      <li>{{'Capitol.Buffs.List1.List.List3' | translate}}</li>
      <li>{{'Capitol.Buffs.List1.List.List4' | translate}}</li>
    </ul>
    <li>{{'Capitol.Buffs.List2.Text' | translate}}</li>
    <ul>
      <li>{{'Capitol.Buffs.List2.List.List1' | translate}}</li>
    </ul>
    <li>{{'Capitol.Buffs.List3.Text' | translate}}</li>
    <ul>
      <li>{{'Capitol.Buffs.List3.List.List1' | translate}}</li>
    </ul>
  </ul>
  <h6>{{'Capitol.Example.Title' | translate}}</h6>
  <div class="d-flex justify-content-between pb-3">
    <img alt="..." class="img-fluid custom-image" src="assets/images/capitol/before.jpg">
    <img alt="..." class="img-fluid custom-image" src="assets/images/capitol/after.jpg">
  </div>

  <h5>{{'Capitol.Explanation.Title' | translate}}</h5>
  <p>{{'Capitol.Explanation.Description' | translate}}</p>
  <p>{{'Capitol.Explanation.Description2' | translate}}</p>
  <ul>
    <li>{{'Capitol.Explanation.List1' | translate}}</li>
    <li>{{'Capitol.Explanation.List2' | translate}}</li>
    <li>{{'Capitol.Explanation.List3' | translate}}</li>
    <li>{{'Capitol.Explanation.List4' | translate}}</li>
    <li>{{'Capitol.Explanation.List5' | translate}}</li>
  </ul>
  <p>{{'Capitol.Explanation.Description3' | translate}}</p>
  <p>{{'Capitol.Explanation.Description4' | translate}}</p>
  <p>{{'Capitol.Explanation.Description5' | translate}}</p>
  <ul>
    <li>{{'Capitol.Explanation.List6' | translate}}</li>
    <li>{{'Capitol.Explanation.List7' | translate}}</li>
    <li>{{'Capitol.Explanation.List8' | translate}}</li>
  </ul>


  <h5>{{'Capitol.Positions.Title' | translate}}</h5>
  <p>{{'Capitol.Positions.Description' | translate}}</p>
  <ul>
    <li>{{'Capitol.Positions.List1' | translate}}</li>
    <li>{{'Capitol.Positions.List2' | translate}}</li>
    <li>{{'Capitol.Positions.List3' | translate}}</li>
    <li>{{'Capitol.Positions.List4' | translate}}</li>
    <li>{{'Capitol.Positions.List5' | translate}}</li>
    <li>{{'Capitol.Positions.List6' | translate}}</li>
    <li>{{'Capitol.Positions.List7' | translate}}</li>
  </ul>

  <h5 class="text-warning">{{'Capitol.President.Title' | translate}}</h5>
  <p>{{'Capitol.President.Description' | translate}}</p>
  <ul>
    <li>{{'Capitol.President.List1' | translate}}</li>
    <li>{{'Capitol.President.List2' | translate}}</li>
    <li>{{'Capitol.President.List3' | translate}}</li>
  </ul>
  <p>{{'Capitol.President.Description2' | translate}}</p>

  <h5 class="text-warning">{{'Capitol.VicePresident.Title' | translate}}</h5>
  <p>{{'Capitol.VicePresident.Description' | translate}}</p>
  <p>{{'Capitol.VicePresident.Description2' | translate}}</p>
  <ul>
    <li>{{'Capitol.VicePresident.List1' | translate}}</li>
    <li>{{'Capitol.VicePresident.List2' | translate}}</li>
    <li>{{'Capitol.VicePresident.List3' | translate}}</li>
  </ul>
  <p class="text-danger"><b>{{'Capitol.VicePresident.Description3' | translate}}</b></p>

  <h5 class="text-warning">{{'Capitol.SecretaryOfDevelopment.Title' | translate}}</h5>
  <p>{{'Capitol.SecretaryOfDevelopment.Description' | translate}}</p>
  <p>{{'Capitol.SecretaryOfDevelopment.Description2' | translate}}</p>
  <ul>
    <li>{{'Capitol.SecretaryOfDevelopment.List1' | translate}}</li>
    <li>{{'Capitol.SecretaryOfDevelopment.List2' | translate}}</li>
  </ul>
  <p>{{'Capitol.SecretaryOfDevelopment.Description3' | translate}}</p>

  <h5 class="text-warning">{{'Capitol.SecretaryOfScience.Title' | translate}}</h5>
  <p>{{'Capitol.SecretaryOfScience.Description' | translate}}</p>
  <p>{{'Capitol.SecretaryOfScience.Description2' | translate}}</p>
  <ul>
    <li>{{'Capitol.SecretaryOfScience.List1' | translate}}</li>
    <li>{{'Capitol.SecretaryOfScience.List2' | translate}}</li>
  </ul>
  <p>{{'Capitol.SecretaryOfScience.Description3' | translate}}</p>

  <h5 class="text-warning">{{'Capitol.SecretaryOfInterior.Title' | translate}}</h5>
  <ul>
    <li>{{'Capitol.SecretaryOfInterior.List1' | translate}}</li>
    <li>{{'Capitol.SecretaryOfInterior.List2' | translate}}</li>
    <li>{{'Capitol.SecretaryOfInterior.List3' | translate}}</li>
  </ul>
  <p>{{'Capitol.SecretaryOfInterior.Description' | translate}}</p>

  <h5 class="text-warning">{{'Capitol.SecretaryOfStrategy.Title' | translate}}</h5>
  <ul>
    <li>{{'Capitol.SecretaryOfStrategy.List1' | translate}}</li>
    <li>{{'Capitol.SecretaryOfStrategy.List2' | translate}}</li>
  </ul>

  <h5 class="text-warning">{{'Capitol.SecretaryOfSecurity.Title' | translate}}</h5>
  <p>{{'Capitol.SecretaryOfSecurity.Description' | translate}}</p>
  <p>{{'Capitol.SecretaryOfSecurity.Description2' | translate}}</p>
  <ul>
    <li>{{'Capitol.SecretaryOfSecurity.List1' | translate}}</li>
    <li>{{'Capitol.SecretaryOfSecurity.List2' | translate}}</li>
  </ul>

  <hr>
  <h3 class="text-success">{{'Capitol.Request.Title' | translate}}</h3>
  <p>{{'Capitol.Request.Description' | translate}}</p>

  <p>{{'Capitol.Request.Description2' | translate}}</p>

  <p class="text-danger">{{'Capitol.Request.Description3' | translate}}</p>

  <p><b>{{'Capitol.Request.Step1.Title' | translate}}</b></p>
  <p>{{'Capitol.Request.Step1.Description' | translate}}</p>
  <div class="image-text-container">
    <small>{{'Capitol.Request.Step1.Image' | translate}}</small>
    <div>
      <img alt="..." class="img-fluid custom-image" src="assets/images/capitol/01.jpg">
    </div>
  </div>

  <p><b>{{'Capitol.Request.Step2.Title' | translate}}</b></p>
  <p>{{'Capitol.Request.Step2.Description' | translate}}</p>
  <div class="image-text-container">
    <small>{{'Capitol.Request.Step2.Image' | translate}}</small>
    <div>
      <img alt="..." class="img-fluid custom-image" src="assets/images/capitol/02.jpg">
    </div>
  </div>

  <p><b>{{'Capitol.Request.Step3.Title' | translate}}</b></p>
  <p>{{'Capitol.Request.Step3.Description' | translate}}</p>
  <div class="image-text-container">
    <small>{{'Capitol.Request.Step3.Image' | translate}}</small>
    <div>
      <img alt="..." class="img-fluid custom-image" src="assets/images/capitol/03.jpg">
    </div>
  </div>

  <p><b>{{'Capitol.Request.Step4.Title' | translate}}</b></p>
  <p>{{'Capitol.Request.Step4.Description' | translate}}</p>
  <ul>
    <li>{{'Capitol.Request.Step4.List1' | translate}}</li>
    <li>{{'Capitol.Request.Step4.List2' | translate}}</li>
  </ul>
  <p>{{'Capitol.Request.Step4.Description2' | translate}}</p>
  <div class="image-text-container">
    <small>{{'Capitol.Request.Step4.Image' | translate}}</small>
    <div>
      <img alt="..." class="img-fluid custom-image" src="assets/images/capitol/04.jpg">
    </div>
  </div>

  <p><b>{{'Capitol.Request.Step5.Title' | translate}}</b></p>
<p>{{'Capitol.Request.Step5.Description' | translate}}</p>
  <p>{{'Capitol.Request.Step5.Description2' | translate}}</p>
  <div class="image-text-container">
    <small>{{'Capitol.Request.Step5.Image' | translate}}</small>
    <div>
      <img alt="..." class="img-fluid custom-image" src="assets/images/capitol/05.jpg">
    </div>
  </div>

  <p><b>{{'Capitol.Request.Step6.Title' | translate}}</b></p>
  <p>{{'Capitol.Request.Step6.Description' | translate}}</p>
  <p>{{'Capitol.Request.Step6.Description2' | translate}}</p>
  <div class="image-text-container">
    <small>{{'Capitol.Request.Step6.Image' | translate}}</small>
    <div>
      <img alt="..." class="img-fluid custom-image" src="assets/images/capitol/06.jpg">
    </div>
  </div>

  <p><b>{{'Capitol.Request.Step7.Title' | translate}}</b></p>
  <p>{{'Capitol.Request.Step7.Description' | translate}}</p>
  <div class="image-text-container">
    <small>{{'Capitol.Request.Step7.Image' | translate}}</small>
    <div>
      <img alt="..." class="img-fluid custom-image" src="assets/images/capitol/07.jpg">
    </div>
  </div>

</div>
