<div class="container pb-5">
  <h3 class="custom-font mt-3 text-center">Season 4 - Maps</h3>
  <hr>
  <h5 class="custom-font mt-3 text-center">Starting territories</h5>
  <div class="d-flex justify-content-center">
    <img src="assets/images/maps/s4_initial.png" class="img-fluid custom-image">
  </div>
  <hr>

  <h5 class="custom-font mt-3 text-center">Final Cities and Strongholds</h5>
  <div class="d-flex justify-content-center">
    <img src="assets/images/maps/s4_final.png" class="img-fluid custom-image">
  </div>
  <hr>

  <h5 class="custom-font mt-3 text-center">Final Zoom</h5>
  <div class="d-flex justify-content-center">
    <img src="assets/images/maps/s4_zoom.png" class="img-fluid custom-image">
  </div>
</div>
