<div class="container pb-5">
  <h3 class="custom-font mt-3 text-center">Map</h3>
  <hr>
  <div class="d-flex justify-content-center">
    <img src="assets/images/seasonOne/mapSeason1.jpg" class="img-fluid custom-image">
  </div>
  <hr>
  <h4 class="text-center">Old Vikings Map</h4>
  <div class="d-flex justify-content-center">
    <img src="assets/images/seasonOne/visMap.png" class="img-fluid custom-image">
  </div>
  <hr>
  <h4 class="text-center">Warzone expedition</h4>
  <div class="video-container mt-4 mb-4">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/RxG0xnz8IfA?si=wa3_RFFogLI3HMEE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
</div>
