<div class="container pb-5">
  <h3 class="custom-font mt-3 text-center">Season 6 - Maps</h3>
  <hr>
  <h5 class="custom-font mt-3 text-center">Week 1 up to Wednesday</h5>
  <div class="d-flex justify-content-center">
    <img src="assets/images/maps/Vi5_Week1_up_to_wednesday.png" class="img-fluid custom-image">
  </div>
  <hr>

  <h5 class="custom-font mt-3 text-center">Week 1 Saturday</h5>
  <div class="d-flex justify-content-center">
    <img src="assets/images/maps/VI5_Week1_Saturday.png" class="img-fluid custom-image">
  </div>
  <hr>

</div>
