<div class="container pb-5">
  <h3 class="custom-font mt-3 text-center">{{ 'Marshall.Title' | translate }}</h3>
  <hr>
  <h4>{{'Marshall.Instruction.Title' | translate}}</h4>
  <p>{{'Marshall.Instruction.Description1' | translate}}</p>
  <p>{{'Marshall.Instruction.Description2' | translate}}</p>

  <hr>
  <h4>{{'Marshall.Attack.Title' | translate}}</h4>
  <p>{{'Marshall.Attack.Description' | translate}}</p>
  <ul>
    <li>{{'Marshall.Attack.List1' | translate}}</li>
    <li>{{'Marshall.Attack.List2' | translate}}</li>
    <li>{{'Marshall.Attack.List3' | translate}}</li>
    <li>{{'Marshall.Attack.List4' | translate}}</li>
    <li>{{'Marshall.Attack.List5' | translate}}</li>
  </ul>

  <hr>
  <h4>{{'Marshall.Tricks.Title' | translate}}</h4>
  <ol>
    <li>{{'Marshall.Tricks.Trick1' | translate}}</li>
    <li>{{'Marshall.Tricks.Trick2' | translate}}</li>
    <li>{{'Marshall.Tricks.Trick3' | translate}}</li>
  </ol>

  <hr>
  <h4>{{'Marshall.Important.Title' | translate}}</h4>
  <ul>
    <li>{{'Marshall.Important.List1' | translate}}</li>
    <li>{{'Marshall.Important.List2' | translate}}</li>
    <li>{{'Marshall.Important.List3' | translate}}</li>
    <li>{{'Marshall.Important.List4' | translate}}</li>
  </ul>
</div>
