<div class="container pb-5">
  <h3 class="custom-font mt-3 text-center">{{ 'SeasonTwo.Title' | translate }}</h3>
  <hr>
  <!--  Content-->
  <section>
    <h5>{{ 'SeasonTwo.Content.Title' | translate }}</h5>
    <ul>
      <li><a fragment="season-two-new-resources" routerLink="/season-two">{{ 'SeasonTwo.Content.NewResources' | translate }}</a></li>
      <li><a fragment="season-two-world-map" routerLink="/season-two">{{ 'SeasonTwo.Content.WorldMap' | translate }}</a></li>
      <li><a fragment="season-two-new-buildings" routerLink="/season-two">{{ 'SeasonTwo.Content.NewBuildings' | translate }}</a></li>
      <li><a fragment="season-two-alliance-furnace" routerLink="/season-two">{{ 'SeasonTwo.Content.AllianceFurnace' | translate }}</a></li>
      <li><a fragment="season-two-new-farms" routerLink="/season-two">{{ 'SeasonTwo.Content.NewFarms' | translate }}</a></li>
      <li><a fragment="season-two-military-base" routerLink="/season-two">{{ 'SeasonTwo.Content.MilitaryBase' | translate }}</a></li>
      <li><a fragment="season-two-cities" routerLink="/season-two">{{ 'SeasonTwo.Content.Cities' | translate }}</a></li>
      <li><a fragment="season-two-dig-sites" routerLink="/season-two">{{ 'SeasonTwo.Content.DigSites' | translate }}</a></li>
      <li><a fragment="season-two-stock-collection" routerLink="/season-two">{{ 'SeasonTwo.Content.StockCollection' | translate }}</a></li>
      <li><a fragment="season-two-rare-soil" routerLink="/season-two">{{ 'SeasonTwo.Content.RareSoil' | translate }}</a></li>
      <li><a fragment="season-two-rare-soil-war" routerLink="/season-two">{{ 'SeasonTwo.Content.RareSoilWar' | translate }}</a></li>
      <li><a fragment="season-two-radar-mission" routerLink="/season-two">{{ 'SeasonTwo.Content.RadarMission' | translate }}</a></li>
      <li><a fragment="season-two-hero-upgrade" routerLink="/season-two">{{ 'SeasonTwo.Content.HeroUpgrade' | translate }}</a></li>
      <li><a fragment="season-two-temperature" routerLink="/season-two">{{ 'SeasonTwo.Content.Temperature' | translate }}</a></li>
      <li><a fragment="season-two-help-allies" routerLink="/season-two">{{ 'SeasonTwo.Content.HelpTheAllies' | translate }}</a></li>
      <li><a fragment="season-two-virus" routerLink="/season-two">{{ 'SeasonTwo.Content.VirusResistance' | translate }}</a></li>
      <li><a fragment="season-two-profession" routerLink="/season-two">{{ 'SeasonTwo.Content.Profession' | translate }}</a></li>
    </ul>
  </section>

  <section>
    <hr>
    <div class="d-grid gap-2 col-6 mx-auto">
      <button routerLink="/season-two-celebration" class="btn btn-primary" type="button">{{'SeasonTwo.CelebrationButton' | translate}}</button>
    </div>
  </section>

  <section id="season-two-new-resources">
    <hr>
    <h5>{{ 'SeasonTwo.Resources.Title' | translate }}</h5>
    <p>{{ 'SeasonTwo.Resources.Description' | translate }}</p>
    <div>
      <img alt="titanium" class="img-fluid" src="assets/images/seasonTwo/Titanium-alloy-1.png">
      <p><b>{{ 'SeasonTwo.Resources.Titanium.Title' | translate }}</b></p>
      <p>{{ 'SeasonTwo.Resources.Titanium.Description' | translate }}</p>
      <p>{{ 'SeasonTwo.Resources.Titanium.Description2' | translate }}</p>
      <ul>
        <li>{{ 'SeasonTwo.Resources.Titanium.List1' | translate }}</li>
        <li>{{ 'SeasonTwo.Resources.Titanium.List2' | translate }}</li>
        <li>{{ 'SeasonTwo.Resources.Titanium.List3' | translate }}</li>
        <li>{{ 'SeasonTwo.Resources.Titanium.List4' | translate }}</li>
        <li>{{ 'SeasonTwo.Resources.Titanium.List5' | translate }}</li>
        <li>{{ 'SeasonTwo.Resources.Titanium.List6' | translate }}</li>
      </ul>
    </div>
    <div>
      <img alt="coal" class="img-fluid" src="assets/images/seasonTwo/Coal-1.png">
      <p><b>{{ 'SeasonTwo.Resources.Coal.Title' | translate }}</b></p>
      <p>{{ 'SeasonTwo.Resources.Coal.Description' | translate }}</p>
      <p>{{ 'SeasonTwo.Resources.Coal.Description2' | translate }}</p>
      <ul>
        <li>{{ 'SeasonTwo.Resources.Coal.List1' | translate }}</li>
        <li>{{ 'SeasonTwo.Resources.Coal.List2' | translate }}</li>
        <li>{{ 'SeasonTwo.Resources.Coal.List3' | translate }}</li>
        <li>{{ 'SeasonTwo.Resources.Coal.List4' | translate }}</li>
        <li>{{ 'SeasonTwo.Resources.Coal.List5' | translate }}</li>
        <li>{{ 'SeasonTwo.Resources.Coal.List6' | translate }}</li>
        <li>{{ 'SeasonTwo.Resources.Coal.List7' | translate }}</li>
        <li>{{ 'SeasonTwo.Resources.Coal.List8' | translate }}</li>
        <li>{{ 'SeasonTwo.Resources.Coal.List9' | translate }}</li>
      </ul>
    </div>
  </section>

  <section id="season-two-world-map">
    <hr>
    <h5>{{ 'SeasonTwo.WorldMap.Title'| translate }}</h5>
    <p>{{ 'SeasonTwo.WorldMap.Description'| translate }}</p>
    <p>{{ 'SeasonTwo.WorldMap.Description2'| translate }}</p>
    <div class="image-text-container">
      <div [innerHTML]="'SeasonTwo.WorldMap.Image1' | translate"></div>
      <div>
        <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoCity.png">
      </div>
    </div>
    <div class="image-text-container">
      <div [innerHTML]="'SeasonTwo.WorldMap.Image2' | translate"></div>
      <div>
        <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoDigSite.png">
      </div>
    </div>
    <div class="image-text-container">
      <div [innerHTML]="'SeasonTwo.WorldMap.Image3' | translate"></div>
      <div>
        <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoNuclearFurnace.png">
      </div>
    </div>
    <p>{{ 'SeasonTwo.WorldMap.Description3'| translate }}</p>
    <p>{{ 'SeasonTwo.WorldMap.Description4'| translate }}</p>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoDoomElite.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoPolarZombie.png">
    </div>
    <p>{{ 'SeasonTwo.WorldMap.Description5'| translate }}</p>
    <div class="d-flex justify-content-center">
      <img alt="..." class="img-fluid" src="assets/images/seasonTwo/seasonTwoMap.jpg">
    </div>
    <h5 class="mt-3">{{ 'SeasonTwo.WorldMap.ThermalMap.Title'| translate }}</h5>
    <p>{{ 'SeasonTwo.WorldMap.ThermalMap.Description'| translate }}</p>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoThermalMap1.png">
      <img alt="..." class="img-fluid custom-image" src="../../../assets/images/seasonTwo/seasonTwoThermalMap2.png">
    </div>
    <p class="mt-3">{{ 'SeasonTwo.WorldMap.ThermalMap.Description2'| translate }}</p>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoThermalMap3.png">
      <img alt="..." class="img-fluid custom-image" src="../../../assets/images/seasonTwo/seasonTwoThermalMap4.png">
    </div>
    <p class="mt-3">{{ 'SeasonTwo.WorldMap.ThermalMap.Description3'| translate }}</p>
    <p class="mt-3">{{ 'SeasonTwo.WorldMap.ThermalMap.Description4'| translate }}</p>
    <div class="d-flex justify-content-center">
      <img alt="..." class="img-fluid" src="../../../assets/images/seasonTwo/seasonTwoThermalMapFull.png">
    </div>
  </section>

  <section id="season-two-new-buildings">
    <hr>
    <h5>{{ 'SeasonTwo.NewBuildings.Title'| translate }}</h5>
    <p>{{ 'SeasonTwo.NewBuildings.Description'| translate }}</p>
    <p>{{ 'SeasonTwo.NewBuildings.Description2'| translate }}</p>
    <p>{{ 'SeasonTwo.NewBuildings.Description3'| translate }}</p>
    <p>{{ 'SeasonTwo.NewBuildings.Description4'| translate }}</p>
    <h6>{{ 'SeasonTwo.NewBuildings.TitanFabric.Title'| translate }}</h6>
    <div class="image-text-container">
      <small [innerHTML]="'SeasonTwo.NewBuildings.TitanFabric.Image1' | translate"></small>
      <div>
        <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoTitaniumFactory.png">
      </div>
    </div>
    <h6>{{ 'SeasonTwo.NewBuildings.TitanFabric.Update.Title'| translate }}</h6>
    <p>{{ 'SeasonTwo.NewBuildings.TitanFabric.Update.Description'| translate }}</p>
    <p>{{ 'SeasonTwo.NewBuildings.TitanFabric.Update.Description2'| translate }}</p>
    <p>{{ 'SeasonTwo.NewBuildings.TitanFabric.Update.Description3'| translate }}</p>
    <p>{{ 'SeasonTwo.NewBuildings.TitanFabric.Update.Description4'| translate }}</p>
    <p>{{ 'SeasonTwo.NewBuildings.TitanFabric.Update.Description5'| translate }}</p>
    <div class="image-text-container">
      <small [innerHTML]="'SeasonTwo.NewBuildings.TitanFabric.Update.Image' | translate"></small>
      <div>
        <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoTitaniumUpdate.png">
      </div>
    </div>
    <h6>{{ 'SeasonTwo.NewBuildings.TitanFabric.Requirements.Title'| translate }}</h6>
    <p>{{ 'SeasonTwo.NewBuildings.TitanFabric.Requirements.Description'| translate }}</p>
    <ul>
      <li>{{ 'SeasonTwo.NewBuildings.TitanFabric.Requirements.List1'| translate }}</li>
      <li>{{ 'SeasonTwo.NewBuildings.TitanFabric.Requirements.List2'| translate }}</li>
      <li>{{ 'SeasonTwo.NewBuildings.TitanFabric.Requirements.List3'| translate }}</li>
    </ul>
    <div class="image-text-container">
      <small [innerHTML]="'SeasonTwo.NewBuildings.TitanFabric.Requirements.Image' | translate"></small>
      <div>
        <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoTitaniumRequirements.png">
      </div>
    </div>
    <h6>{{ 'SeasonTwo.NewBuildings.HighTemperatureFurnace.Title'| translate }}</h6>
    <p>{{ 'SeasonTwo.NewBuildings.HighTemperatureFurnace.Description'| translate }}</p>
    <div class="image-text-container">
      <small [innerHTML]="'SeasonTwo.NewBuildings.HighTemperatureFurnace.Image' | translate"></small>
      <div>
        <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoFurnace.png">
      </div>
    </div>
    <h6>{{ 'SeasonTwo.NewBuildings.HighTemperatureFurnace.Update.Title'| translate }}</h6>
    <p>{{ 'SeasonTwo.NewBuildings.HighTemperatureFurnace.Update.Description'| translate }}</p>
    <p>{{ 'SeasonTwo.NewBuildings.HighTemperatureFurnace.Update.Description2'| translate }}</p>
    <ul>
      <li>{{ 'SeasonTwo.NewBuildings.HighTemperatureFurnace.Update.List1'| translate }}</li>
      <li>{{ 'SeasonTwo.NewBuildings.HighTemperatureFurnace.Update.List2'| translate }}</li>
      <li>{{ 'SeasonTwo.NewBuildings.HighTemperatureFurnace.Update.List3'| translate }}</li>
    </ul>
    <div class="image-text-container">
      <small [innerHTML]="'SeasonTwo.NewBuildings.HighTemperatureFurnace.Update.Image' | translate"></small>
      <div>
        <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoFurnaceUpdate.png">
      </div>
    </div>
    <h6>{{ 'SeasonTwo.NewBuildings.HighTemperatureFurnace.Control.Title'| translate }}</h6>
    <p>{{ 'SeasonTwo.NewBuildings.HighTemperatureFurnace.Control.Description'| translate }}</p>
    <p>{{ 'SeasonTwo.NewBuildings.HighTemperatureFurnace.Control.Description2'| translate }}</p>
    <ul>
      <li>{{ 'SeasonTwo.NewBuildings.HighTemperatureFurnace.Control.List1'| translate }}</li>
      <li>{{ 'SeasonTwo.NewBuildings.HighTemperatureFurnace.Control.List2'| translate }}</li>
      <li>{{ 'SeasonTwo.NewBuildings.HighTemperatureFurnace.Control.List3'| translate }}</li>
    </ul>
    <div class="image-text-container">
      <small [innerHTML]="'SeasonTwo.NewBuildings.HighTemperatureFurnace.Control.Image' | translate"></small>
      <div>
        <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoFurnaceControl.png">
      </div>
    </div>
  </section>

  <section id="season-two-alliance-furnace">
    <hr>
    <h5>{{ 'SeasonTwo.AllianceFurnace.Title'| translate }}</h5>
    <p>{{ 'SeasonTwo.AllianceFurnace.Description'| translate }}</p>
    <p>{{ 'SeasonTwo.AllianceFurnace.Description2'| translate }}</p>
    <p>{{ 'SeasonTwo.AllianceFurnace.Description3'| translate }}</p>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoAllianceFurnace1.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoAllianceFurnace2.png">
    </div>
    <h6 class="mt-3">{{ 'SeasonTwo.AllianceFurnace.HeatingRange.Title'| translate }}</h6>
    <p>{{ 'SeasonTwo.AllianceFurnace.HeatingRange.Description'| translate }}</p>
    <p>{{ 'SeasonTwo.AllianceFurnace.HeatingRange.Description2'| translate }}</p>
    <p>{{ 'SeasonTwo.AllianceFurnace.HeatingRange.Description3'| translate }}</p>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoAllianceFurnaceRange1.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoAllianceFurnaceRange2.png">
    </div>
    <p>{{ 'SeasonTwo.AllianceFurnace.HeatingRange.Description4'| translate }}</p>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoAllianceFurnaceRange3.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoAllianceFurnaceRange4.png">
    </div>
  </section>

  <section id="season-two-new-farms">
    <hr>
    <h5>{{ 'SeasonTwo.NewFarms.Title'| translate }}</h5>
    <p>{{ 'SeasonTwo.NewFarms.Description'| translate }}</p>
    <div class="d-flex justify-content-center">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoNewFarmes.png">
    </div>
  </section>

  <section id="season-two-military-base">
    <hr>
    <h5>{{ 'SeasonTwo.MilitaryBase.Title'| translate }}</h5>
    <p>{{ 'SeasonTwo.MilitaryBase.Description'| translate }}</p>
    <p>{{ 'SeasonTwo.MilitaryBase.Description2'| translate }}</p>
    <p>{{ 'SeasonTwo.MilitaryBase.Description3'| translate }}</p>
    <p>{{ 'SeasonTwo.MilitaryBase.Description4'| translate }}</p>
    <div class="flex-container">
      <div class="flex-item">
        <img alt="Bild 1" src="assets/images/seasonTwo/seasonTwoMilitaryBaseTank.png">
      </div>
      <div class="flex-item">
        <img alt="Bild 2" src="assets/images/seasonTwo/seasonTwoMilitaryBaseAir.png">
      </div>
      <div class="flex-item">
        <img alt="Bild 3" src="assets/images/seasonTwo/seasonTwoMilitaryBaseMissile.png">
      </div>
    </div>
    <p>{{ 'SeasonTwo.MilitaryBase.Description5'| translate }}</p>
  </section>

  <section id="season-two-cities">
    <hr>
    <h5>{{ 'SeasonTwo.Cities.Title'| translate }}</h5>
    <ul>
      <li>{{ 'SeasonTwo.Cities.List1'| translate }}</li>
      <li>{{ 'SeasonTwo.Cities.List2'| translate }}</li>
    </ul>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoCity1.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoCity2.png">
    </div>
    <h6 class="mt-3">{{ 'SeasonTwo.Cities..Heating.Title'| translate }}</h6>
    <p>{{ 'SeasonTwo.Cities.Heating.Description'| translate }}</p>
    <ul>
      <li>{{ 'SeasonTwo.Cities.Heating.List1'| translate }}</li>
      <li>{{ 'SeasonTwo.Cities.Heating.List2'| translate }}</li>
      <li>{{ 'SeasonTwo.Cities.Heating.List3'| translate }}</li>
      <li>{{ 'SeasonTwo.Cities.Heating.List4'| translate }}</li>
      <li>{{ 'SeasonTwo.Cities.Heating.List5'| translate }}</li>
      <li>{{ 'SeasonTwo.Cities.Heating.List6'| translate }}</li>
    </ul>
  </section>

  <section id="season-two-dig-sites">
    <hr>
    <h5>{{ 'SeasonTwo.DigSites.Title'| translate }}</h5>
    <p>{{ 'SeasonTwo.DigSites.Description'| translate }}</p>
    <p>{{ 'SeasonTwo.DigSites.Description2'| translate }}</p>
    <p>{{ 'SeasonTwo.DigSites.Description3'| translate }}</p>
    <p>{{ 'SeasonTwo.DigSites.Description4'| translate }}</p>
    <p>{{ 'SeasonTwo.DigSites.Description5'| translate }}</p>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoDigSite1.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoDigSite2.png">
    </div>
    <p>{{ 'SeasonTwo.DigSites.Description6'| translate }}</p>
    <p>{{ 'SeasonTwo.DigSites.Description7'| translate }}</p>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoDigSite3.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoDigSite4.png">
    </div>
    <h6 class="mt-3">{{ 'SeasonTwo.DigSites.Coal.Title'| translate }}</h6>
    <p>{{ 'SeasonTwo.DigSites.Coal.Description'| translate }}</p>
    <ul>
      <li>{{ 'SeasonTwo.DigSites.Coal.List1'| translate }}</li>
      <li>{{ 'SeasonTwo.DigSites.Coal.List2'| translate }}</li>
      <li>{{ 'SeasonTwo.DigSites.Coal.List3'| translate }}</li>
      <li>{{ 'SeasonTwo.DigSites.Coal.List4'| translate }}</li>
      <li>{{ 'SeasonTwo.DigSites.Coal.List5'| translate }}</li>
      <li>{{ 'SeasonTwo.DigSites.Coal.List6'| translate }}</li>
    </ul>
    <h6 class="mt-3">{{ 'SeasonTwo.DigSites.Protection.Title'| translate }}</h6>
    <p>{{ 'SeasonTwo.DigSites.Protection.Description'| translate }}</p>
    <ul>
      <li>{{ 'SeasonTwo.DigSites.Protection.List1'| translate }}</li>
      <li>{{ 'SeasonTwo.DigSites.Protection.List2'| translate }}</li>
      <li>{{ 'SeasonTwo.DigSites.Protection.List3'| translate }}</li>
      <li>{{ 'SeasonTwo.DigSites.Protection.List4'| translate }}</li>
      <li>{{ 'SeasonTwo.DigSites.Protection.List5'| translate }}</li>
      <li>{{ 'SeasonTwo.DigSites.Protection.List6'| translate }}</li>
      <li>{{ 'SeasonTwo.DigSites.Protection.List7'| translate }}</li>
      <li>{{ 'SeasonTwo.DigSites.Protection.List8'| translate }}</li>
      <li>{{ 'SeasonTwo.DigSites.Protection.List9'| translate }}</li>
      <li>{{ 'SeasonTwo.DigSites.Protection.List10'| translate }}</li>
      <li>{{ 'SeasonTwo.DigSites.Protection.List11'| translate }}</li>
      <li>{{ 'SeasonTwo.DigSites.Protection.List12'| translate }}</li>
    </ul>
    <p>{{ 'SeasonTwo.DigSites.Protection.Description2'| translate }}</p>
    <div class="d-flex justify-content-center">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoDigSite5.png">
    </div>
    <p>{{ 'SeasonTwo.DigSites.Protection.Description3'| translate }}</p>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoDigSite6.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoDigSite7.png">
    </div>
  </section>

  <section id="season-two-stock-collection">
    <hr>
    <h5>{{ 'SeasonTwo.StockCollection.Title'| translate }}</h5>
    <p>{{ 'SeasonTwo.StockCollection.Description'| translate }}</p>
    <p>{{ 'SeasonTwo.StockCollection.Description2'| translate }}</p>
    <p>{{ 'SeasonTwo.StockCollection.Description3'| translate }}</p>
    <p>{{ 'SeasonTwo.StockCollection.Description4'| translate }}</p>
    <p>{{ 'SeasonTwo.StockCollection.Description5'| translate }}</p>
    <p>{{ 'SeasonTwo.StockCollection.Description6'| translate }}</p>
    <div class="image-text-container">
      <div [innerHTML]="'SeasonTwo.StockCollection.Image1' | translate"></div>
      <div>
        <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoStockCollection1.png">
      </div>
    </div>
  </section>

  <section id="season-two-rare-soil">
    <hr>
    <h5>{{ 'SeasonTwo.RareSoil.Title'| translate }}</h5>
    <p>{{ 'SeasonTwo.RareSoil.Description'| translate }}</p>
    <p>{{ 'SeasonTwo.RareSoil.Description2'| translate }}</p>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoRareSoil1.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoRareSoil2.png">
    </div>
    <h6 class="mt-3">{{ 'SeasonTwo.RareSoil.Production.Title'| translate }}</h6>
    <p>{{ 'SeasonTwo.RareSoil.Production.Description'| translate }}</p>
    <p>{{ 'SeasonTwo.RareSoil.Production.Description2'| translate }}</p>
    <p>{{ 'SeasonTwo.RareSoil.Production.Description3'| translate }}</p>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoRareSoil3.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoRareSoil4.png">
    </div>
    <p>{{ 'SeasonTwo.RareSoil.Production.Description4'| translate }}</p>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoRareSoil5.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoRareSoil6.png">
    </div>
    <p>{{ 'SeasonTwo.RareSoil.Production.Description5'| translate }}</p>
    <h6 class="mt-3">{{ 'SeasonTwo.RareSoil.CityProduction.Title'| translate }}</h6>
    <p>{{ 'SeasonTwo.RareSoil.CityProduction.Description'| translate }}</p>
    <ul>
      <li>{{ 'SeasonTwo.RareSoil.CityProduction.List1'| translate }}</li>
      <li>{{ 'SeasonTwo.RareSoil.CityProduction.List2'| translate }}</li>
      <li>{{ 'SeasonTwo.RareSoil.CityProduction.List3'| translate }}</li>
      <li>{{ 'SeasonTwo.RareSoil.CityProduction.List4'| translate }}</li>
      <li>{{ 'SeasonTwo.RareSoil.CityProduction.List5'| translate }}</li>
      <li>{{ 'SeasonTwo.RareSoil.CityProduction.List6'| translate }}</li>
    </ul>
    <h6 class="mt-3">{{ 'SeasonTwo.RareSoil.DigSiteProduction.Title'| translate }}</h6>
    <p>{{ 'SeasonTwo.RareSoil.DigSiteProduction.Description'| translate }}</p>
    <ul>
      <li>{{ 'SeasonTwo.RareSoil.DigSiteProduction.List1'| translate }}</li>
      <li>{{ 'SeasonTwo.RareSoil.DigSiteProduction.List2'| translate }}</li>
      <li>{{ 'SeasonTwo.RareSoil.DigSiteProduction.List3'| translate }}</li>
      <li>{{ 'SeasonTwo.RareSoil.DigSiteProduction.List4'| translate }}</li>
      <li>{{ 'SeasonTwo.RareSoil.DigSiteProduction.List5'| translate }}</li>
      <li>{{ 'SeasonTwo.RareSoil.DigSiteProduction.List6'| translate }}</li>
    </ul>
  </section>

  <section id="season-two-rare-soil-war">
    <hr>
    <h5>{{ 'SeasonTwo.RareSoilWar.Title'| translate }}</h5>
    <p>{{ 'SeasonTwo.RareSoilWar.Description'| translate }}</p>
  </section>

  <section id="season-two-radar-mission">
    <hr>
    <h5>{{ 'SeasonTwo.RadarMission.Title'| translate }}</h5>
    <p>{{ 'SeasonTwo.RadarMission.Description'| translate }}</p>
    <p>{{ 'SeasonTwo.RadarMission.Description2'| translate }}</p>
    <div class="d-flex justify-content-center">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoRadar.png">
    </div>
  </section>

  <section id="season-two-hero-upgrade">
    <hr>
    <h5>{{ 'SeasonTwo.HeroUpgrade.Title'| translate }}</h5>
    <p>{{ 'SeasonTwo.HeroUpgrade.Description'| translate }}</p>
    <h6 class="mt-3">{{ 'SeasonTwo.HeroUpgrade.Violette.Title'| translate }}</h6>
    <p>{{ 'SeasonTwo.HeroUpgrade.Violette.Description'| translate }}</p>
    <h6 class="mt-3">{{ 'SeasonTwo.HeroUpgrade.Legend.Title'| translate }}</h6>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoHero1.jpg">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoHero2.jpg">
    </div>
    <p>{{ 'SeasonTwo.HeroUpgrade.Legend.Description'| translate }}</p>
    <h6 class="mt-3">{{ 'SeasonTwo.HeroUpgrade.RecruitHeroes.Title'| translate }}</h6>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoHero3.jpg">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoHero4.jpg">
    </div>
    <h6 class="mt-3">{{ 'SeasonTwo.HeroUpgrade.Weapon.Title'| translate }}</h6>
    <p>{{ 'SeasonTwo.HeroUpgrade.Weapon.Description'| translate }}</p>
    <div class="image-text-container">
      <div [innerHTML]="'SeasonTwo.HeroUpgrade.Weapon.Image1' | translate"></div>
      <div>
        <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoWeapon1.png">
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoWeapon2.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoWeapon3.png">
    </div>
    <div class="image-text-container">
      <div [innerHTML]="'SeasonTwo.HeroUpgrade.Weapon.Image2' | translate"></div>
      <div>
        <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoWeapon1.png">
      </div>
    </div>
    <h6 class="mt-3">{{ 'SeasonTwo.HeroUpgrade.ExclusiveWeapons.Title'| translate }}</h6>
    <p>{{ 'SeasonTwo.HeroUpgrade.ExclusiveWeapons.Description'| translate }}</p>
    <h6 class="mt-3">{{ 'SeasonTwo.HeroUpgrade.ExclusiveWeapons.Murphy.Title'| translate }}</h6>
    <p>{{ 'SeasonTwo.HeroUpgrade.ExclusiveWeapons.Murphy.Description'| translate }}</p>
    <h6 class="mt-3">{{ 'SeasonTwo.HeroUpgrade.ExclusiveWeapons.Carlie.Title'| translate }}</h6>
    <p>{{ 'SeasonTwo.HeroUpgrade.ExclusiveWeapons.Carlie.Description'| translate }}</p>
    <h6 class="mt-3">{{ 'SeasonTwo.HeroUpgrade.ExclusiveWeapons.Swift.Title'| translate }}</h6>
    <p>{{ 'SeasonTwo.HeroUpgrade.ExclusiveWeapons.Swift.Description'| translate }}</p>
  </section>

  <section id="season-two-temperature">
    <hr>
    <h5>{{ 'SeasonTwo.Temperature.Title'| translate }}</h5>
    <p>{{ 'SeasonTwo.Temperature.Description'| translate }}</p>
    <h6 class="mt-3">{{ 'SeasonTwo.Temperature.Location.Title'| translate }}</h6>
    <p>{{ 'SeasonTwo.Temperature.Location.Description'| translate }}</p>
    <p>{{ 'SeasonTwo.Temperature.Location.Description2'| translate }}</p>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoTemperature1.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoTemperature2.png">
    </div>
    <h6 class="mt-3">{{ 'SeasonTwo.Temperature.Base.Title'| translate }}</h6>
    <p>{{ 'SeasonTwo.Temperature.Base.Description'| translate }}</p>
    <b>{{ 'SeasonTwo.Temperature.Base.Title2'| translate }}</b>
    <p>{{ 'SeasonTwo.Temperature.Base.Description2'| translate }}</p>
    <b>{{ 'SeasonTwo.Temperature.Base.Title3'| translate }}</b>
    <p>{{ 'SeasonTwo.Temperature.Base.Description3'| translate }}</p>
    <b>{{ 'SeasonTwo.Temperature.Base.Title4'| translate }}</b>
    <p>{{ 'SeasonTwo.Temperature.Base.Description4'| translate }}</p>
    <b>{{ 'SeasonTwo.Temperature.Base.Title5'| translate }}</b>
    <p>{{ 'SeasonTwo.Temperature.Base.Description5'| translate }}</p>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoTemperature3.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoTemperature4.png">
    </div>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoTemperature5.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoTemperature6.png">
    </div>
    <h6 class="mt-3">{{ 'SeasonTwo.Temperature.Factors.Title'| translate }}</h6>
    <p>{{ 'SeasonTwo.Temperature.Factors.Description'| translate }}</p>
    <ul>
      <li>{{ 'SeasonTwo.Temperature.Factors.List1'| translate }}</li>
      <li>{{ 'SeasonTwo.Temperature.Factors.List2'| translate }}</li>
      <li>{{ 'SeasonTwo.Temperature.Factors.List3'| translate }}</li>
      <li>{{ 'SeasonTwo.Temperature.Factors.List4'| translate }}</li>
      <li>{{ 'SeasonTwo.Temperature.Factors.List5'| translate }}</li>
      <li>{{ 'SeasonTwo.Temperature.Factors.List6'| translate }}</li>
      <li>{{ 'SeasonTwo.Temperature.Factors.List7'| translate }}</li>
      <li>{{ 'SeasonTwo.Temperature.Factors.List8'| translate }}</li>
      <li>{{ 'SeasonTwo.Temperature.Factors.List9'| translate }}</li>
      <li>{{ 'SeasonTwo.Temperature.Factors.List10'| translate }}</li>
    </ul>
    <h6 class="mt-3">{{ 'SeasonTwo.Temperature.Burn.Title'| translate }}</h6>
    <p>{{ 'SeasonTwo.Temperature.Burn.Description'| translate }}</p>
    <p>{{ 'SeasonTwo.Temperature.Burn.Description2'| translate }}</p>

    <h6 class="mt-3">{{ 'SeasonTwo.Temperature.LowTemperatures.Title'| translate }}</h6>
    <p>{{ 'SeasonTwo.Temperature.LowTemperatures.Description'| translate }}</p>
    <b>{{ 'SeasonTwo.Temperature.LowTemperatures.Title2'| translate }}</b>
    <p>{{ 'SeasonTwo.Temperature.LowTemperatures.Description2'| translate }}</p>
    <b>{{ 'SeasonTwo.Temperature.LowTemperatures.Solutions'| translate }}</b>
    <ul>
      <li>{{ 'SeasonTwo.Temperature.LowTemperatures.Solution1'| translate }}</li>
      <li>{{ 'SeasonTwo.Temperature.LowTemperatures.Solution2'| translate }}</li>
      <li>{{ 'SeasonTwo.Temperature.LowTemperatures.Solution3'| translate }}</li>
      <li>{{ 'SeasonTwo.Temperature.LowTemperatures.Solution4'| translate }}</li>
    </ul>

    <h6 class="mt-3">{{ 'SeasonTwo.Temperature.FrozenBase.Title'| translate }}</h6>
    <p>{{ 'SeasonTwo.Temperature.FrozenBase.Description'| translate }}</p>
    <b>{{ 'SeasonTwo.Temperature.FrozenBase.Solutions'| translate }}</b>
    <ul>
      <li>{{ 'SeasonTwo.Temperature.FrozenBase.Solution1'| translate }}</li>
      <li>{{ 'SeasonTwo.Temperature.FrozenBase.Solution2'| translate }}</li>
      <li>{{ 'SeasonTwo.Temperature.FrozenBase.Solution3'| translate }}</li>
      <li>{{ 'SeasonTwo.Temperature.FrozenBase.Solution4'| translate }}</li>
    </ul>

    <h6 class="mt-3">{{ 'SeasonTwo.Temperature.IceMelts.Title'| translate }}</h6>
    <p>{{ 'SeasonTwo.Temperature.IceMelts.Description'| translate }}</p>
    <p>{{ 'SeasonTwo.Temperature.IceMelts.Description2'| translate }}</p>
  </section>

  <section id="season-two-help-allies">
    <hr>
    <h5>{{ 'SeasonTwo.HelpTheAllies.Title'| translate }}</h5>
    <p>{{ 'SeasonTwo.HelpTheAllies.Description'| translate }}</p>
  </section>

  <section id="season-two-virus">
    <hr>
    <h5>{{ 'SeasonTwo.VirusResistance.Title'| translate }}</h5>
    <p>{{ 'SeasonTwo.VirusResistance.Description'| translate }}</p>
    <p>{{ 'SeasonTwo.VirusResistance.Description2'| translate }}</p>
    <div class="image-text-container">
      <div [innerHTML]="'SeasonTwo.VirusResistance.Image' | translate"></div>
      <div>
        <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoVirus.png">
      </div>
    </div>
    <p>{{ 'SeasonTwo.VirusResistance.Description3'| translate }}</p>
    <ul>
      <li>{{ 'SeasonTwo.VirusResistance.List1'| translate }}</li>
      <li>{{ 'SeasonTwo.VirusResistance.List2'| translate }}</li>
    </ul>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoVirus2.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoVirus3.png">
    </div>
  </section>

  <section id="season-two-profession">
    <hr>
    <h5>{{ 'SeasonTwo.Profession.Title'| translate }}</h5>
    <p>{{ 'SeasonTwo.Profession.Description'| translate }}</p>
    <p>{{ 'SeasonTwo.Profession.Description2'| translate }}</p>
    <div class="flex-container">
      <div class="flex-item">
        <img alt="Bild 1" src="assets/images/seasonTwo/seasonTwoProfession1.png">
      </div>
      <div class="flex-item">
        <img alt="Bild 2" src="assets/images/seasonTwo/seasonTwoProfession2.png">
      </div>
      <div class="flex-item">
        <img alt="Bild 3" src="assets/images/seasonTwo/seasonTwoProfession3.png">
      </div>
    </div>
    <div class="flex-container">
      <div class="flex-item">
        <img alt="Bild 1" src="assets/images/seasonTwo/seasonTwoProfession4.png">
      </div>
      <div class="flex-item">
        <img alt="Bild 2" src="assets/images/seasonTwo/seasonTwoProfession5.png">
      </div>
      <div class="flex-item">
        <img alt="Bild 3" src="assets/images/seasonTwo/seasonTwoProfession6.png">
      </div>
    </div>
    <div class="flex-container">
      <div class="flex-item">
        <img alt="Bild 1" src="assets/images/seasonTwo/seasonTwoProfession7.png">
      </div>
      <div class="flex-item">
        <img alt="Bild 2" src="assets/images/seasonTwo/seasonTwoProfession8.png">
      </div>
      <div class="flex-item">
<!--        <img alt="Bild 3" src="assets/images/seasonTwo/seasonTwoProfession3.png">-->
      </div>
    </div>

    <h6 class="mt-3">{{ 'SeasonTwo.Profession.Warlords.Title'| translate }}</h6>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoWarlord1.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoWarlord2.png">
    </div>
    <p class="mt-3">{{ 'SeasonTwo.Profession.Warlords.Description'| translate }}</p>
    <div class="flex-container">
      <div class="flex-item">
        <img alt="Bild 1" src="assets/images/seasonTwo/seasonTwoWarlord3.png">
      </div>
      <div class="flex-item">
        <img alt="Bild 2" src="assets/images/seasonTwo/seasonTwoWarlord4.png">
      </div>
      <div class="flex-item">
        <img alt="Bild 3" src="assets/images/seasonTwo/seasonTwoWarlord5.png">
      </div>
    </div>
    <p class="mt-3">{{ 'SeasonTwo.Profession.Warlords.Description2'| translate }}</p>
    <div class="flex-container">
      <div class="flex-item">
        <img alt="Bild 1" src="assets/images/seasonTwo/seasonTwoWarlord6.png">
      </div>
      <div class="flex-item">
        <img alt="Bild 2" src="assets/images/seasonTwo/seasonTwoWarlord7.png">
      </div>
      <div class="flex-item">
      </div>
    </div>
    <p class="mt-3">{{ 'SeasonTwo.Profession.Warlords.Description3'| translate }}</p>
    <div class="flex-container">
      <div class="flex-item">
        <img alt="Bild 1" src="assets/images/seasonTwo/seasonTwoWarlord8.png">
      </div>
      <div class="flex-item">
        <img alt="Bild 2" src="assets/images/seasonTwo/seasonTwoWarlord9.png">
      </div>
      <div class="flex-item">
        <img alt="Bild 3" src="assets/images/seasonTwo/seasonTwoWarlord10.png">
      </div>
    </div>
    <p class="mt-3">{{ 'SeasonTwo.Profession.Warlords.Description4'| translate }}</p>
    <div class="flex-container">
      <div class="flex-item">
        <img alt="Bild 1" src="assets/images/seasonTwo/seasonTwoWarlord11.png">
      </div>
      <div class="flex-item">
        <img alt="Bild 2" src="assets/images/seasonTwo/seasonTwoWarlord12.png">
      </div>
      <div class="flex-item">
        <img alt="Bild 3" src="assets/images/seasonTwo/seasonTwoWarlord13.png">
      </div>
    </div>
    <p class="mt-3">{{ 'SeasonTwo.Profession.Warlords.Description5'| translate }}</p>
    <div class="flex-container">
      <div class="flex-item">
        <img alt="Bild 1" src="assets/images/seasonTwo/seasonTwoWarlord14.png">
      </div>
      <div class="flex-item">
        <img alt="Bild 2" src="assets/images/seasonTwo/seasonTwoWarlord15.png">
      </div>
      <div class="flex-item"></div>
    </div>
    <p class="mt-3">{{ 'SeasonTwo.Profession.Warlords.Description6'| translate }}</p>
    <div class="flex-container">
      <div class="flex-item">
        <img alt="Bild 1" src="assets/images/seasonTwo/seasonTwoWarlord16.png">
      </div>
      <div class="flex-item">
        <img alt="Bild 2" src="assets/images/seasonTwo/seasonTwoWarlord17.png">
      </div>
      <div class="flex-item">
      </div>
    </div>

    <h6 class="mt-3">{{ 'SeasonTwo.Profession.Engineer.Title'| translate }}</h6>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoEngineer1.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonTwo/seasonTwoEngineer2.png">
    </div>
    <p class="mt-3">{{ 'SeasonTwo.Profession.Engineer.Description'| translate }}</p>
    <div class="flex-container">
      <div class="flex-item">
        <img alt="Bild 1" src="assets/images/seasonTwo/seasonTwoEngineer3.png">
      </div>
      <div class="flex-item">
        <img alt="Bild 2" src="assets/images/seasonTwo/seasonTwoEngineer4.png">
      </div>
      <div class="flex-item">
        <img alt="Bild 3" src="assets/images/seasonTwo/seasonTwoEngineer5.png">
      </div>
    </div>
    <p class="mt-3">{{ 'SeasonTwo.Profession.Engineer.Description2'| translate }}</p>
    <div class="flex-container">
      <div class="flex-item">
        <img alt="Bild 1" src="assets/images/seasonTwo/seasonTwoEngineer6.png">
      </div>
      <div class="flex-item">
        <img alt="Bild 2" src="assets/images/seasonTwo/seasonTwoEngineer7.png">
      </div>
      <div class="flex-item">
      </div>
    </div>
    <p class="mt-3">{{ 'SeasonTwo.Profession.Engineer.Description3'| translate }}</p>
    <div class="flex-container">
      <div class="flex-item">
        <img alt="Bild 1" src="assets/images/seasonTwo/seasonTwoEngineer8.png">
      </div>
      <div class="flex-item">
        <img alt="Bild 2" src="assets/images/seasonTwo/seasonTwoEngineer9.png">
      </div>
      <div class="flex-item">
        <img alt="Bild 3" src="assets/images/seasonTwo/seasonTwoEngineer10.png">
      </div>
    </div>
    <p class="mt-3">{{ 'SeasonTwo.Profession.Engineer.Description4'| translate }}</p>
    <div class="flex-container">
      <div class="flex-item">
        <img alt="Bild 1" src="assets/images/seasonTwo/seasonTwoEngineer11.png">
      </div>
      <div class="flex-item">
        <img alt="Bild 2" src="assets/images/seasonTwo/seasonTwoEngineer12.png">
      </div>
      <div class="flex-item">
        <img alt="Bild 3" src="assets/images/seasonTwo/seasonTwoEngineer13.png">
      </div>
    </div>
    <p class="mt-3">{{ 'SeasonTwo.Profession.Engineer.Description5'| translate }}</p>
    <div class="flex-container">
      <div class="flex-item">
        <img alt="Bild 1" src="assets/images/seasonTwo/seasonTwoEngineer14.png">
      </div>
      <div class="flex-item">
        <img alt="Bild 2" src="assets/images/seasonTwo/seasonTwoEngineer15.png">
      </div>
      <div class="flex-item"></div>
    </div>
    <p class="mt-3">{{ 'SeasonTwo.Profession.Engineer.Description6'| translate }}</p>
    <div class="flex-container">
      <div class="flex-item">
        <img alt="Bild 1" src="assets/images/seasonTwo/seasonTwoEngineer16.png">
      </div>
      <div class="flex-item">
        <img alt="Bild 2" src="assets/images/seasonTwo/seasonTwoEngineer17.png">
      </div>
      <div class="flex-item">
      </div>
    </div>

  </section>
</div>
