<div class="container pb-5">
  <h3 class="custom-font mt-3 text-center">{{'SeasonThree.Title' | translate }}</h3>
  <hr>
  <!--Content-->
  <section>
    <h5>{{ 'SeasonTwo.Content.Title' | translate }}</h5>
    <ul>
      <li><a fragment="season-three-new-resources" routerLink="/season-three">{{'SeasonThree.Content.Link1' | translate}}</a></li>
      <li><a fragment="season-three-world-map" routerLink="/season-three">{{'SeasonThree.Content.Link2' | translate}}</a></li>
      <li><a fragment="season-three-visitors" routerLink="/season-three">{{'SeasonThree.Content.Link3' | translate}}</a></li>
      <li><a fragment="season-three-scarab" routerLink="/season-three">{{'SeasonThree.Content.Link4' | translate}}</a></li>
      <li><a fragment="season-three-radar" routerLink="/season-three">{{'SeasonThree.Content.Link5' | translate}}</a></li>
      <li><a fragment="season-three-new-buildings" routerLink="/season-three">{{'SeasonThree.Content.Link6' | translate}}</a></li>
      <li><a fragment="season-three-alliance-center" routerLink="/season-three">{{'SeasonThree.Content.Link7' | translate}}</a></li>
      <li><a fragment="season-three-new-farms" routerLink="/season-three">{{'SeasonThree.Content.Link8' | translate}}</a></li>
      <li><a fragment="season-three-city" routerLink="/season-three">{{'SeasonThree.Content.Link9' | translate}}</a></li>
      <li><a fragment="season-three-stronghold" routerLink="/season-three">{{'SeasonThree.Content.Link10' | translate}}</a></li>
      <li><a fragment="season-three-trade-post" routerLink="/season-three">{{'SeasonThree.Content.Link11' | translate}}</a></li>
      <li><a fragment="season-three-game-play" routerLink="/season-three">{{'SeasonThree.Content.Link12' | translate}}</a></li>
      <li><a fragment="season-three-weapons" routerLink="/season-three">{{'SeasonThree.Content.Link13' | translate}}</a></li>
      <li><a fragment="season-three-exclusive-weapons" routerLink="/season-three">{{'SeasonThree.Content.Link14' | translate}}</a></li>
      <li><a fragment="season-three-professions" routerLink="/season-three">{{'SeasonThree.Content.Link15' | translate}}</a></li>
      <li><a fragment="season-three-desert-bazaar" routerLink="/season-three">{{'SeasonThree.Content.Link16' | translate}}</a></li>
    </ul>
  </section>
  <!--  Resources-->
  <section id="season-three-new-resources">
    <hr>
    <h5>{{'SeasonThree.Resources.Title' | translate }}</h5>
    <p>{{'SeasonThree.Resources.Description1' | translate }}</p>
    <div>
      <img alt="titanium" class="img-fluid" src="assets/images/seasonThree/sacred-water.png">
      <h6 class="mt-3">{{'SeasonThree.Resources.ScaredWater.Title' | translate }}</h6>
      <p>{{'SeasonThree.Resources.ScaredWater.Description1' | translate }}</p>
      <p>{{'SeasonThree.Resources.ScaredWater.Description2' | translate }}</p>
      <ul>
        <li>{{'SeasonThree.Resources.ScaredWater.List1' | translate }}</li>
        <li>{{'SeasonThree.Resources.ScaredWater.List2' | translate }}</li>
        <li>{{'SeasonThree.Resources.ScaredWater.List3' | translate }}</li>
        <li>{{'SeasonThree.Resources.ScaredWater.List4' | translate }}</li>
        <li>{{'SeasonThree.Resources.ScaredWater.List5' | translate }}</li>
        <li>{{'SeasonThree.Resources.ScaredWater.List6' | translate }}</li>
      </ul>
    </div>
    <div>
      <img alt="coal" class="img-fluid" src="assets/images/seasonThree/mithril.png">
      <h6 class="mt-3">{{'SeasonThree.Resources.Mithril.Title' | translate }}</h6>
      <p>{{'SeasonThree.Resources.Mithril.Description1' | translate }}</p>
      <ul>
        <li>{{'SeasonThree.Resources.Mithril.List1' | translate }}</li>
        <li>{{'SeasonThree.Resources.Mithril.List2' | translate }}</li>
        <li>{{'SeasonThree.Resources.Mithril.List3' | translate }}</li>
        <li>{{'SeasonThree.Resources.Mithril.List4' | translate }}</li>
        <li>{{'SeasonThree.Resources.Mithril.List5' | translate }}</li>
        <li>{{'SeasonThree.Resources.Mithril.List6' | translate }}</li>
        <li>{{'SeasonThree.Resources.Mithril.List7' | translate }}</li>
        <li>{{'SeasonThree.Resources.Mithril.List8' | translate }}</li>
        <li>{{'SeasonThree.Resources.Mithril.List9' | translate }}</li>
        <li>{{'SeasonThree.Resources.Mithril.List10' | translate }}</li>
        <li>{{'SeasonThree.Resources.Mithril.List11' | translate }}</li>
        <li>{{'SeasonThree.Resources.Mithril.List12' | translate }}</li>
      </ul>
    </div>
  </section>
  <!--Map-->
  <section id="season-three-world-map">
    <hr>
    <h5>{{'SeasonThree.Map.Title' | translate }}</h5>
    <p>{{'SeasonThree.Map.Description1' | translate }}</p>
    <div class="image-text-container">
      <div [innerHTML]="'SeasonThree.Map.Image1' | translate"></div>
      <div>
        <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/city.png">
      </div>
    </div>
    <div class="image-text-container">
      <div [innerHTML]="'SeasonThree.Map.Image2' | translate"></div>
      <div>
        <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/stronghold.png">
      </div>
    </div>
    <div class="image-text-container">
      <div [innerHTML]="'SeasonThree.Map.Image3' | translate"></div>
      <div>
        <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/tradePost.png">
      </div>
    </div>

    <p>{{'SeasonThree.Map.Description2' | translate }}</p>
    <p>{{'SeasonThree.Map.Description3' | translate }}</p>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/doomElite.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/mummy.png">
    </div>

    <h6 class="mt-3">{{'SeasonThree.Map.NewMap' | translate }}</h6>
    <p>{{'SeasonThree.Map.NewMapDescription' | translate }}</p>
    <div class="d-flex justify-content-center">
      <img alt="..." class="img-fluid" src="assets/images/seasonThree/s3Map.png">
    </div>

  </section>
  <!--Visitors-->
  <section id="season-three-visitors">
    <hr>
    <h5>{{'SeasonThree.Visitors.Title' | translate }}</h5>
    <p>{{'SeasonThree.Visitors.Description' | translate }}</p>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/visitor1.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/visitor2.png">
    </div>
  </section>
  <!--Golden Scarab-->
  <section id="season-three-scarab">
    <hr>
    <h5>{{'SeasonThree.GoldenScarab.Title' | translate }}</h5>
    <p>{{'SeasonThree.GoldenScarab.Description1' | translate }}</p>
    <p>{{'SeasonThree.GoldenScarab.Description2' | translate }}</p>
    <ul>
      <li>{{'SeasonThree.GoldenScarab.List1' | translate }}</li>
      <li>{{'SeasonThree.GoldenScarab.List2' | translate }}</li>
      <li>{{'SeasonThree.GoldenScarab.List3' | translate }}</li>
    </ul>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/scarab1.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/scarab2.png">
    </div>
    <div class="image-text-container">
      <div [innerHTML]="'SeasonThree.GoldenScarab.Image1' | translate"></div>
      <div>
        <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/scarab3png.png">
      </div>
    </div>
  </section>
  <!--Radar Missions-->
  <section id="season-three-radar">
    <hr>
    <h5>{{'SeasonThree.RadarMissions.Title' | translate }}</h5>
    <p>{{'SeasonThree.RadarMissions.Description1' | translate }}</p>
    <p>{{'SeasonThree.RadarMissions.Description2' | translate }}</p>
    <ul>
      <li>{{'SeasonThree.RadarMissions.List1' | translate }}</li>
      <ul>
        <li>{{'SeasonThree.RadarMissions.List1List1' | translate }}</li>
        <li>{{'SeasonThree.RadarMissions.List1List2' | translate }}</li>
      </ul>
      <li>{{'SeasonThree.RadarMissions.List2' | translate }}</li>
      <ul>
        <li>{{'SeasonThree.RadarMissions.List2List1' | translate }}</li>
      </ul>
    </ul>

    <p>{{'SeasonThree.RadarMissions.Description3' | translate }}</p>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/radar1.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/radar2.png">
    </div>

  </section>
  <!--Buildings-->
  <section id="season-three-new-buildings">
    <hr>
    <h5>{{'SeasonThree.Building.Title' | translate }}</h5>
    <p>{{'SeasonThree.Building.Description1' | translate }}</p>

    <h6>{{'SeasonThree.Building.CurseLab.Title' | translate }}</h6>
    <p>{{'SeasonThree.Building.CurseLab.Description' | translate }}</p>
    <div class="image-text-container">
      <div [innerHTML]="''"></div>
      <div>
        <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/researchLab.png">
      </div>
    </div>

    <h6 class="mt-3">{{'SeasonThree.Building.BlessingFountain.Title' | translate }}</h6>
    <p>{{'SeasonThree.Building.BlessingFountain.Description1' | translate }}</p>
    <p>{{'SeasonThree.Building.BlessingFountain.Description2' | translate }}</p>
    <div class="image-text-container">
      <div [innerHTML]="''"></div>
      <div>
        <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/blessingFountain.png">
      </div>
    </div>

    <h6 class="mt-3">{{'SeasonThree.Building.Altar.Title' | translate }}</h6>
    <p>{{'SeasonThree.Building.Altar.Description1' | translate }}</p>
    <p>{{'SeasonThree.Building.Altar.Description2' | translate }}</p>
    <div class="image-text-container">
      <div [innerHTML]="'SeasonThree.Building.Altar.Image' | translate"></div>
      <div>
        <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/altar.png">
      </div>
    </div>
  </section>
  <!--Alliance center-->
  <section id="season-three-alliance-center">
    <hr>
    <h5>{{'SeasonThree.AllianceCenter.Title' | translate }}</h5>
    <p>{{'SeasonThree.AllianceCenter.Description1' | translate }}</p>
    <p>{{'SeasonThree.AllianceCenter.Description2' | translate }}</p>
    <p>{{'SeasonThree.AllianceCenter.Description3' | translate }}</p>
    <p>{{'SeasonThree.AllianceCenter.Description4' | translate }}</p>
    <div class="d-flex justify-content-center">
      <img alt="..." class="img-fluid" src="assets/images/seasonThree/allianceCenter.png">
    </div>

    <h6 class="mt-3">{{'SeasonThree.AllianceCenter.RepairAllianceCenter.Title' | translate }}</h6>
    <ul>
      <li>{{'SeasonThree.AllianceCenter.RepairAllianceCenter.List1' | translate }}</li>
    </ul>
    <p>{{'SeasonThree.AllianceCenter.RepairAllianceCenter.Description1' | translate }}</p>

    <h6>{{'SeasonThree.AllianceCenter.AdditionalFeatures.Title' | translate }}</h6>
    <p>{{'SeasonThree.AllianceCenter.AdditionalFeatures.Description1' | translate }}</p>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/allianceCenter2.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/allianceCenter3.png">
    </div>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/allianceCenter4.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/allianceCenter5.png">
    </div>

    <h6 class="mt-3">{{'SeasonThree.AllianceCenter.MithrilPlant.Title' | translate }}</h6>
    <p>{{'SeasonThree.AllianceCenter.MithrilPlant.Description1' | translate }}</p>
    <p>{{'SeasonThree.AllianceCenter.MithrilPlant.Description2' | translate }}</p>
    <p>{{'SeasonThree.AllianceCenter.MithrilPlant.Description3' | translate }}</p>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/allianceCenter6.png">
    </div>

    <h6 class="mt-3">{{'SeasonThree.AllianceCenter.ExploratoryWell.Title' | translate }}</h6>
    <p>{{'SeasonThree.AllianceCenter.ExploratoryWell.Description1' | translate }}</p>
    <p>{{'SeasonThree.AllianceCenter.ExploratoryWell.Description2' | translate }}</p>
    <p>{{'SeasonThree.AllianceCenter.ExploratoryWell.Description3' | translate }}</p>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/allianceCenter7.png">
    </div>

    <h6 class="mt-3">{{'SeasonThree.AllianceCenter.SacredWaterHut.Title' | translate }}</h6>
    <p>{{'SeasonThree.AllianceCenter.SacredWaterHut.Description1' | translate }}</p>
    <p>{{'SeasonThree.AllianceCenter.SacredWaterHut.Description2' | translate }}</p>
    <p>{{'SeasonThree.AllianceCenter.SacredWaterHut.Description3' | translate }}</p>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/allianceCenter8.png">
    </div>

    <h6 class="mt-3">{{'SeasonThree.AllianceCenter.Obelisk.Title' | translate }}</h6>
    <p>{{'SeasonThree.AllianceCenter.Obelisk.Description1' | translate }}</p>
    <p>{{'SeasonThree.AllianceCenter.Obelisk.Description2' | translate }}</p>
    <p>{{'SeasonThree.AllianceCenter.Obelisk.Description3' | translate }}</p>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/allianceCenter9.png">
    </div>

    <h6 class="mt-3">{{'SeasonThree.AllianceCenter.Level.Title' | translate }}</h6>
    <p>{{'SeasonThree.AllianceCenter.Level.Description1' | translate }}</p>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/allianceCenter10.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/allianceCenter11.png">
    </div>

    <h6 class="mt-3">{{'SeasonThree.AllianceCenter.Relocation.Title' | translate }}</h6>
    <p>{{'SeasonThree.AllianceCenter.Relocation.Description1' | translate }}</p>
    <p>{{'SeasonThree.AllianceCenter.Relocation.Description2' | translate }}</p>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/allianceCenter12.png">
    </div>

  </section>
  <!--New farms-->
  <section id="season-three-new-farms">
    <hr>
    <h5>{{'SeasonThree.NewFarms.Title' | translate }}</h5>
    <p>{{'SeasonThree.NewFarms.Description1' | translate }}</p>
    <p>{{'SeasonThree.NewFarms.Description2' | translate }}</p>
    <p>{{'SeasonThree.NewFarms.Description3' | translate }}</p>
    <p>{{'SeasonThree.NewFarms.Description4' | translate }}</p>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/ressource1.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/ressource2.png">
    </div>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/ressource3.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/ressource4.png">
    </div>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/ressource5.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/ressource6.png">
    </div>
  </section>
  <!--Cities-->
  <section id="season-three-city">
    <hr>
    <h5>{{'SeasonThree.Cities.Title' | translate }}</h5>
    <p>{{'SeasonThree.Cities.Description1' | translate }}</p>
    <p>{{'SeasonThree.Cities.Description2' | translate }}</p>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/city.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/city2.png">
    </div>
    <h6 class="mt-3">{{'SeasonThree.Cities.Description3' | translate }}</h6>
    <ul>
      <li>{{'SeasonThree.Cities.List1' | translate }}</li>
      <li>{{'SeasonThree.Cities.List2' | translate }}</li>
      <li>{{'SeasonThree.Cities.List3' | translate }}</li>
      <li>{{'SeasonThree.Cities.List4' | translate }}</li>
      <li>{{'SeasonThree.Cities.List5' | translate }}</li>
      <li>{{'SeasonThree.Cities.List6' | translate }}</li>
    </ul>

    <h6>{{'SeasonThree.Cities.Description4' | translate }}</h6>
    <p>{{'SeasonThree.Cities.Description5' | translate }}</p>
    <ul>
      <li>{{'SeasonThree.Cities.List7' | translate }}</li>
      <li>{{'SeasonThree.Cities.List8' | translate }}</li>
      <li>{{'SeasonThree.Cities.List9' | translate }}</li>
      <li>{{'SeasonThree.Cities.List10' | translate }}</li>
    </ul>
  </section>
  <!--Strongholds-->
  <section id="season-three-stronghold">
    <hr>
    <h5>{{'SeasonThree.Strongholds.Title' | translate }}</h5>
    <p>{{'SeasonThree.Strongholds.Description1' | translate }}</p>
    <p>{{'SeasonThree.Strongholds.Description2' | translate }}</p>
    <p>{{'SeasonThree.Strongholds.Description3' | translate }}</p>
    <ul>
      <li>{{'SeasonThree.Strongholds.List1' | translate }}</li>
      <li>{{'SeasonThree.Strongholds.List2' | translate }}</li>
      <li>{{'SeasonThree.Strongholds.List3' | translate }}</li>
      <li>{{'SeasonThree.Strongholds.List4' | translate }}</li>
      <li>{{'SeasonThree.Strongholds.List5' | translate }}</li>
      <li>{{'SeasonThree.Strongholds.List6' | translate }}</li>
    </ul>

    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/stronghold1.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/stronghold2.png">
    </div>
    <p>{{'SeasonThree.Strongholds.Description4' | translate }}</p>
    <ul>
      <li>{{'SeasonThree.Strongholds.List7' | translate }}</li>
      <li>{{'SeasonThree.Strongholds.List8' | translate }}</li>
      <li>{{'SeasonThree.Strongholds.List9' | translate }}</li>
    </ul>
    <p>{{'SeasonThree.Strongholds.Description5' | translate }}</p>
  </section>
  <!--Trade posts-->
  <section id="season-three-trade-post">
    <hr>
    <h5>{{'SeasonThree.TradePosts.Title' | translate }}</h5>
    <p>{{'SeasonThree.TradePosts.Description1' | translate }}</p>
    <p>{{'SeasonThree.TradePosts.Description2' | translate }}</p>
    <p>{{'SeasonThree.TradePosts.Description3' | translate }}</p>
    <div class="d-flex justify-content-center">
      <img alt="..." class="img-fluid" src="assets/images/seasonThree/trademap.png">
    </div>

    <h6 class="mt-3">{{'SeasonThree.TradePosts.Description4' | translate }}</h6>
    <ul>
      <li>{{'SeasonThree.TradePosts.List1' | translate }}</li>
      <ul>
        <li>{{'SeasonThree.TradePosts.List1List1' | translate }}</li>
        <li>{{'SeasonThree.TradePosts.List1List2' | translate }}</li>
        <li>{{'SeasonThree.TradePosts.List1List3' | translate }}</li>
        <li>{{'SeasonThree.TradePosts.List1List4' | translate }}</li>
        <li>{{'SeasonThree.TradePosts.List1List5' | translate }}</li>
      </ul>
      <li>{{'SeasonThree.TradePosts.List2' | translate }}</li>
      <li>{{'SeasonThree.TradePosts.List3' | translate }}</li>
      <li>{{'SeasonThree.TradePosts.List4' | translate }}</li>
      <li>{{'SeasonThree.TradePosts.List5' | translate }}</li>
      <li>{{'SeasonThree.TradePosts.List6' | translate }}</li>
      <li>{{'SeasonThree.TradePosts.List7' | translate }}</li>
      <li>{{'SeasonThree.TradePosts.List8' | translate }}</li>
      <li>{{'SeasonThree.TradePosts.List9' | translate }}</li>
    </ul>
    <p>{{'SeasonThree.TradePosts.Description5' | translate }}</p>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/tradePost1.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/tradePost2.png">
    </div>

    <h6 class="mt-3">{{'SeasonThree.TradePosts.Description6' | translate }}</h6>
    <p>{{'SeasonThree.TradePosts.Description7' | translate }}</p>
    <p>{{'SeasonThree.TradePosts.Description8' | translate }}</p>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/tradePost3.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/tradePost4.png">
    </div>

    <h6 class="mt-3">{{'SeasonThree.TradePosts.Description9' | translate }}</h6>
    <p>{{'SeasonThree.TradePosts.Description10' | translate }}</p>
    <p>{{'SeasonThree.TradePosts.Description11' | translate }}</p>
    <p>{{'SeasonThree.TradePosts.Description12' | translate }}</p>
    <div class="d-flex justify-content-center">
      <img alt="..." class="img-fluid" src="assets/images/seasonThree/tradePost5.png">
    </div>

    <h6 class="mt-3">{{'SeasonThree.TradePosts.Description13' | translate }}</h6>
    <p>{{'SeasonThree.TradePosts.Description14' | translate }}</p>
  </section>
  <!--Gameplay-->
  <section id="season-three-game-play">
    <hr>
    <h5>{{'SeasonThree.GamePlay.Title' | translate }}</h5>
    <p>{{'SeasonThree.GamePlay.Description1' | translate }}</p>
    <ul>
      <li><a fragment="season-three-like" routerLink="/season-three">{{'SeasonThree.GamePlay.Link1' | translate }}</a></li>
      <li><a fragment="season-three-sand-worm" routerLink="/season-three">{{'SeasonThree.GamePlay.Link2' | translate }}</a></li>
      <li><a fragment="season-three-protector" routerLink="/season-three">{{'SeasonThree.GamePlay.Link3' | translate }}</a></li>
      <li><a fragment="season-three-oasis" routerLink="/season-three">{{'SeasonThree.GamePlay.Link4' | translate }}</a></li>
      <li><a fragment="season-three-artefact" routerLink="/season-three">{{'SeasonThree.GamePlay.Link5' | translate }}</a></li>
      <li><a fragment="season-three-doom-walker" routerLink="/season-three">{{'SeasonThree.GamePlay.Link6' | translate }}</a></li>
      <li><a fragment="season-three-lwk" routerLink="/season-three">{{'SeasonThree.GamePlay.Link7' | translate }}</a></li>
    </ul>

    <h6 id="season-three-like">{{'SeasonThree.GamePlay.Description2' | translate }}</h6>
    <p>{{'SeasonThree.GamePlay.Description3' | translate }}</p>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/catBase1.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/catBase2.png">
    </div>

    <h6 class="mt-3" id="season-three-sand-worm">{{'SeasonThree.GamePlay.SandWorm.Title' | translate }}</h6>
    <p>{{'SeasonThree.GamePlay.SandWorm.Description1' | translate }}</p>
    <p>{{'SeasonThree.GamePlay.SandWorm.Description2' | translate }}</p>
    <ol>
      <li>{{'SeasonThree.GamePlay.SandWorm.List1' | translate }}</li>
      <li>{{'SeasonThree.GamePlay.SandWorm.List2' | translate }}</li>
      <li>{{'SeasonThree.GamePlay.SandWorm.List3' | translate }}</li>
      <li>{{'SeasonThree.GamePlay.SandWorm.List4' | translate }}</li>
      <li>{{'SeasonThree.GamePlay.SandWorm.List5' | translate }}</li>
      <li>{{'SeasonThree.GamePlay.SandWorm.List6' | translate }}</li>
    </ol>

    <h6>{{'SeasonThree.GamePlay.SandWorm.Description3' | translate }}</h6>
    <p>{{'SeasonThree.GamePlay.SandWorm.Description4' | translate }}</p>
    <p>{{'SeasonThree.GamePlay.SandWorm.Description5' | translate }}</p>
    <div class="d-flex justify-content-center">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/smallSandworm1.png">
    </div>
    <div class="image-text-container">
      <div class="small" [innerHTML]="'SeasonThree.GamePlay.SandWorm.Image1' | translate "></div>
      <div>
        <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/smallSandworm2.png">
      </div>
    </div>

    <h6>{{'SeasonThree.GamePlay.SandWorm.Description6' | translate }}</h6>
    <p>{{'SeasonThree.GamePlay.SandWorm.Description7' | translate }}</p>
    <p>{{'SeasonThree.GamePlay.SandWorm.Description8' | translate }}</p>
    <div class="d-flex justify-content-center">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/bigSandworm1.png">
    </div>
    <p>{{'SeasonThree.GamePlay.SandWorm.Description9' | translate }}</p>
    <p>{{'SeasonThree.GamePlay.SandWorm.Description10' | translate }}</p>
    <p>{{'SeasonThree.GamePlay.SandWorm.Description11' | translate }}</p>

    <h6>{{'SeasonThree.GamePlay.SandWorm.Description12' | translate }}</h6>
    <p>{{'SeasonThree.GamePlay.SandWorm.Description13' | translate }}</p>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/rewards1.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/rewards2.png">
    </div>
    <p>{{'SeasonThree.GamePlay.SandWorm.Description14' | translate }}</p>
    <p>{{'SeasonThree.GamePlay.SandWorm.Description15' | translate }}</p>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/rewards3.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/rewards4.png">
    </div>

    <h6 class="mt-3" id="season-three-protector">{{'SeasonThree.GamePlay.Protector.Title' | translate }}</h6>
    <p>{{'SeasonThree.GamePlay.Protector.Description1' | translate }}</p>
    <p>{{'SeasonThree.GamePlay.Protector.Description2' | translate }}</p>
    <p>{{'SeasonThree.GamePlay.Protector.Description3' | translate }}</p>

    <b>{{'SeasonThree.GamePlay.Protector.Description4' | translate }}</b>
    <p>{{'SeasonThree.GamePlay.Protector.Description5' | translate }}</p>
    <p>{{'SeasonThree.GamePlay.Protector.Description6' | translate }}</p>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/protector1.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/protector2.png">
    </div>
    <p>{{'SeasonThree.GamePlay.Protector.Description7' | translate }}</p>
    <p>{{'SeasonThree.GamePlay.Protector.Description8' | translate }}</p>
    <div class="image-text-container">
      <div [innerHTML]="'SeasonThree.GamePlay.Protector.Image1' | translate"></div>
      <div>
        <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/protector3.png">
      </div>
    </div>

    <h6 class="mt-3">{{'SeasonThree.GamePlay.Protector.Description9' | translate }}</h6>
    <p>{{'SeasonThree.GamePlay.Protector.Description10' | translate }}</p>
    <p>{{'SeasonThree.GamePlay.Protector.Description11' | translate }}</p>
    <p>{{'SeasonThree.GamePlay.Protector.Description12' | translate }}</p>
    <p>{{'SeasonThree.GamePlay.Protector.Description13' | translate }}</p>
    <div class="d-flex justify-content-center">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/protector4.png">
    </div>
    <p>{{'SeasonThree.GamePlay.Protector.Description14' | translate }}</p>
    <p>{{'SeasonThree.GamePlay.Protector.Description15' | translate }}</p>
    <p>{{'SeasonThree.GamePlay.Protector.Description16' | translate }}</p>
    <div class="image-text-container">
      <div [innerHTML]="'SeasonThree.GamePlay.Protector.Image2' | translate"></div>
      <div>
        <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/protector5.png">
      </div>
    </div>
    <p>{{'SeasonThree.GamePlay.Protector.Description17' | translate }}</p>
    <div class="image-text-container">
      <div [innerHTML]="'SeasonThree.GamePlay.Protector.Image3' | translate"></div>
      <div>
        <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/protector6.png">
      </div>
    </div>
    <p>{{'SeasonThree.GamePlay.Protector.Description18' | translate }}</p>
    <p>{{'SeasonThree.GamePlay.Protector.Description19' | translate }}</p>
    <div class="image-text-container">
      <div [innerHTML]="'SeasonThree.GamePlay.Protector.Image4' | translate"></div>
      <div>
        <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/protector7.png">
      </div>
    </div>
    <p>{{'SeasonThree.GamePlay.Protector.Description20' | translate }}</p>
    <p>{{'SeasonThree.GamePlay.Protector.Description21' | translate }}</p>
    <p>{{'SeasonThree.GamePlay.Protector.Description22' | translate }}</p>
    <p>{{'SeasonThree.GamePlay.Protector.Description23' | translate }}</p>
    <p>{{'SeasonThree.GamePlay.Protector.Description24' | translate }}</p>
    <div class="image-text-container">
      <div [innerHTML]="'SeasonThree.GamePlay.Protector.Image5' | translate"></div>
      <div>
        <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/protector8.png">
      </div>
    </div>
    <p>{{'SeasonThree.GamePlay.Protector.Description25' | translate }}</p>
    <p>{{'SeasonThree.GamePlay.Protector.Description26' | translate }}</p>
    <ul>
      <li>{{'SeasonThree.GamePlay.Protector.Description27' | translate }}</li>
      <ul>
        <li>{{'SeasonThree.GamePlay.Protector.Description28' | translate }}</li>
        <li>{{'SeasonThree.GamePlay.Protector.Description29' | translate }}</li>
        <li>{{'SeasonThree.GamePlay.Protector.Description30' | translate }}</li>
      </ul>
      <li>{{'SeasonThree.GamePlay.Protector.Description31' | translate }}</li>
      <li>{{'SeasonThree.GamePlay.Protector.Description32' | translate }}</li>
      <li>{{'SeasonThree.GamePlay.Protector.Description41' | translate }}</li>
    </ul>
    <p>{{'SeasonThree.GamePlay.Protector.Description33' | translate }}</p>

    <h6>{{'SeasonThree.GamePlay.Protector.Description34' | translate }}</h6>
    <p>{{'SeasonThree.GamePlay.Protector.Description35' | translate }}</p>
    <b>{{'SeasonThree.GamePlay.Protector.Description36' | translate }}</b>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/protector9.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/protector10.png">
    </div>
    <b>{{'SeasonThree.GamePlay.Protector.Description37' | translate }}</b>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/protector11.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/protector12.png">
    </div>
    <b>{{'SeasonThree.GamePlay.Protector.Description38' | translate }}</b>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/protector13.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/protector14.png">
    </div>

    <b>{{'SeasonThree.GamePlay.Protector.Description39' | translate }}</b>
    <p>{{'SeasonThree.GamePlay.Protector.Description40' | translate }}</p>

    <h6 id="season-three-oasis">{{'SeasonThree.GamePlay.Oasis.Title' | translate }}</h6>
    <p>{{'SeasonThree.GamePlay.Oasis.Description1' | translate }}</p>
    <p>{{'SeasonThree.GamePlay.Oasis.Description2' | translate }}</p>
    <ol>
      <li>{{'SeasonThree.GamePlay.Oasis.List1' | translate }}</li>
      <li>{{'SeasonThree.GamePlay.Oasis.List2' | translate }}</li>
      <li>{{'SeasonThree.GamePlay.Oasis.List3' | translate }}</li>
      <li>{{'SeasonThree.GamePlay.Oasis.List4' | translate }}</li>
    </ol>
    <div class="d-flex justify-content-center">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/oasis1.png">
    </div>

    <h6 class="mt-3">{{'SeasonThree.GamePlay.Oasis.Description3' | translate }}</h6>
    <p>{{'SeasonThree.GamePlay.Oasis.Description4' | translate }}</p>
    <ol>
      <li>{{'SeasonThree.GamePlay.Oasis.List5' | translate }}</li>
      <li>{{'SeasonThree.GamePlay.Oasis.List6' | translate }}</li>
      <li>{{'SeasonThree.GamePlay.Oasis.List7' | translate }}</li>
    </ol>
    <p>{{'SeasonThree.GamePlay.Oasis.Description5' | translate }}</p>
    <ol>
      <li>{{'SeasonThree.GamePlay.Oasis.List8' | translate }}</li>
      <li>{{'SeasonThree.GamePlay.Oasis.List9' | translate }}</li>
      <li>{{'SeasonThree.GamePlay.Oasis.List10' | translate }}</li>
    </ol>
    <div class="d-flex justify-content-between">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/oasis2.png">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/oasis3.png">
    </div>

    <h6 class="mt-3">{{'SeasonThree.GamePlay.Oasis.Description6' | translate }}</h6>
    <p>{{'SeasonThree.GamePlay.Oasis.Description7' | translate }}</p>
    <p>{{'SeasonThree.GamePlay.Oasis.Description8' | translate }}</p>

    <h6 id="season-three-artefact">{{'SeasonThree.GamePlay.Artefact.Title' | translate }}</h6>
    <p>{{'SeasonThree.GamePlay.Artefact.Description1' | translate }}</p>

    <b id="season-three-doom-walker">{{'SeasonThree.GamePlay.DoomWalker.Title' | translate }}</b>
    <p>{{'SeasonThree.GamePlay.DoomWalker.Description1' | translate }}</p>
    <p>{{'SeasonThree.GamePlay.DoomWalker.Description2' | translate }}</p>
    <ul>
      <li>{{'SeasonThree.GamePlay.DoomWalker.List1' | translate }}</li>
      <li>{{'SeasonThree.GamePlay.DoomWalker.List2' | translate }}</li>
    </ul>
    <p>{{'SeasonThree.GamePlay.DoomWalker.Description3' | translate }}</p>

    <b id="season-three-lwk">{{'SeasonThree.GamePlay.Lkw.Title' | translate }}</b>
    <p>{{'SeasonThree.GamePlay.Lkw.Description1' | translate }}</p>
    <div class="d-flex justify-content-center">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/lkw1.png">
    </div>

  </section>
  <!--Weapons-->
  <section id="season-three-weapons">
    <hr>
    <h5>{{'SeasonThree.Weapons.Title' | translate }}</h5>
    <p>{{'SeasonThree.Weapons.Description1' | translate }}</p>
    <p>{{'SeasonThree.Weapons.Description2' | translate }}</p>

    <h6>{{'SeasonThree.Weapons.Description3' | translate }}</h6>
    <p>{{'SeasonThree.Weapons.Description4' | translate }}</p>
    <p>{{'SeasonThree.Weapons.Description5' | translate }}</p>

    <h6>{{'SeasonThree.Weapons.Description6' | translate }}</h6>
    <p>{{'SeasonThree.Weapons.Description7' | translate }}</p>
    <div class="d-flex justify-content-center">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/scarlett.png">
    </div>

    <h6 class="mt-3">{{'SeasonThree.Weapons.Description8' | translate }}</h6>
    <p>{{'SeasonThree.Weapons.Description9' | translate }}</p>

    <h6>{{'SeasonThree.Weapons.Description10' | translate }}</h6>
    <p>{{'SeasonThree.Weapons.Description11' | translate }}</p>

    <h6>{{'SeasonThree.Weapons.Description12' | translate }}</h6>
    <p>{{'SeasonThree.Weapons.Description13' | translate }}</p>
  </section>
  <!--Exclusive weapons-->
  <section id="season-three-exclusive-weapons">
    <hr>
    <h5>{{'SeasonThree.ExclusiveWeapons.Title' | translate }}</h5>
    <p>{{'SeasonThree.ExclusiveWeapons.Description1' | translate }}</p>
    <div class="flex-container">
      <div class="flex-item">
        <img alt="Bild 1" src="assets/images/seasonThree/exclusive1.png">
      </div>
      <div class="flex-item">
        <img alt="Bild 2" src="assets/images/seasonThree/exclusive2.png">
      </div>
      <div class="flex-item">
        <img alt="Bild 3" src="assets/images/seasonThree/exclusive3.png">
      </div>
    </div>

    <h6 class="mt-3">{{'SeasonThree.ExclusiveWeapons.Description2' | translate }}</h6>
    <p>{{'SeasonThree.ExclusiveWeapons.Description3' | translate }}</p>
    <div class="d-flex justify-content-center">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/exlusive4.png">
    </div>

    <h6 class="mt-3">{{'SeasonThree.ExclusiveWeapons.Description4' | translate }}</h6>
    <p>{{'SeasonThree.ExclusiveWeapons.Description5' | translate }}</p>
    <div class="d-flex justify-content-center">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/exlusive5.png">
    </div>

    <h6 class="mt-3">{{'SeasonThree.ExclusiveWeapons.Description6' | translate }}</h6>
    <p>{{'SeasonThree.ExclusiveWeapons.Description7' | translate }}</p>
    <div class="d-flex justify-content-center">
      <img alt="..." class="img-fluid custom-image" src="assets/images/seasonThree/exlusive6.png">
    </div>
  </section>
  <!--Professions-->
  <section id="season-three-professions">
    <hr>
    <h5>{{'SeasonThree.Professions.Title' | translate }}</h5>
    <p>{{'SeasonThree.Professions.Description1' | translate }}</p>
  </section>
  <!--Bazaar-->
  <section id="season-three-desert-bazaar">
    <hr>
    <h5>{{'SeasonThree.Bazaar.Title' | translate }}</h5>
    <p>{{'SeasonThree.Bazaar.Description1' | translate }}</p>
    <p>{{'SeasonThree.Bazaar.Description2' | translate }}</p>
  </section>
</div>
