<div class="container pb-5">
  <h3 class="custom-font mt-3 text-center">{{'DesertStorm.Title' | translate}}</h3>
  <hr>
  <h5>{{'DesertStorm.Register.Title' | translate}}</h5>
  <p>{{'DesertStorm.Register.Description1' | translate}}</p>
  <p>{{'DesertStorm.Register.Description2' | translate}}</p>
  <p>{{'DesertStorm.Register.Description3' | translate}}</p>

  <div class="image-text-container">
    <div [innerHTML]="'DesertStorm.Register.Step1' | translate"></div>
    <div>
      <img src="assets/images/desertStorm/desertStorm1.jpg" class="img-fluid custom-image" alt="...">
    </div>
  </div>

  <div class="image-text-container">
    <div [innerHTML]="'DesertStorm.Register.Step2' | translate"></div>
    <div>
      <img src="assets/images/desertStorm/desertStorm2.jpg" class="img-fluid custom-image" alt="...">
    </div>
  </div>

  <div class="image-text-container">
    <div [innerHTML]="'DesertStorm.Register.Step3' | translate"></div>
    <div>
      <img src="assets/images/desertStorm/desertStorm3.jpg" class="img-fluid custom-image" alt="...">
    </div>
  </div>

  <h5>{{'DesertStorm.Join.Title' | translate}}</h5>
  <p>{{'DesertStorm.Join.Description' | translate}}</p>
  <ul>
    <li>{{'DesertStorm.Join.Step1' | translate}}</li>
    <li>{{'DesertStorm.Join.Step2' | translate}}</li>
    <li>{{'DesertStorm.Join.Step3' | translate}}</li>

  </ul>

  <h5>{{'DesertStorm.Goals.Title' | translate}}</h5>
  <p>{{'DesertStorm.Goals.Goal1' | translate}}</p>
  <p>{{'DesertStorm.Goals.Goal2' | translate}}</p>
  <p>{{'DesertStorm.Goals.Goal3' | translate}}</p>
  <p>{{'DesertStorm.Goals.Goal4' | translate}}</p>

  <h5>{{'DesertStorm.MostImportant.Title' | translate}}</h5>
  <ul>
    <li>{{'DesertStorm.MostImportant.Important1' | translate}}</li>
    <li>{{'DesertStorm.MostImportant.Important2' | translate}}</li>
    <li>{{'DesertStorm.MostImportant.Important3' | translate}}</li>
    <li>{{'DesertStorm.MostImportant.Important4' | translate}}</li>
    <li>{{'DesertStorm.MostImportant.Important5' | translate}}</li>
    <li>{{'DesertStorm.MostImportant.Important6' | translate}}</li>
    <li>{{'DesertStorm.MostImportant.Important7' | translate}}</li>
    <li>{{'DesertStorm.MostImportant.Important8' | translate}}</li>
  </ul>
  <h5>{{'DesertStorm.Strategies.Title' | translate}}</h5>
  <h6>{{'DesertStorm.Strategies.EmptyBuilding.Title' | translate}}</h6>
  <p>{{'DesertStorm.Strategies.EmptyBuilding.Description1' | translate}}</p>
  <p>{{'DesertStorm.Strategies.EmptyBuilding.Description2' | translate}}</p>

  <h6>{{'DesertStorm.Strategies.ReduceTroopLosses.Title' | translate}}</h6>
  <p>{{'DesertStorm.Strategies.ReduceTroopLosses.Description1' | translate}}</p>
  <ul>
    <li>{{'DesertStorm.Strategies.ReduceTroopLosses.Tip1' | translate}}</li>
    <li>{{'DesertStorm.Strategies.ReduceTroopLosses.Tip2' | translate}}</li>
    <li>{{'DesertStorm.Strategies.ReduceTroopLosses.Tip3' | translate}}</li>
    <li>{{'DesertStorm.Strategies.ReduceTroopLosses.Tip4' | translate}}</li>
    <li>{{'DesertStorm.Strategies.ReduceTroopLosses.Tip5' | translate}}</li>
    <li>{{'DesertStorm.Strategies.ReduceTroopLosses.Tip6' | translate}}</li>
  </ul>
  <b>{{'DesertStorm.Strategies.Advantages.Title' | translate}}</b>
  <ol>
    <li>{{'DesertStorm.Strategies.Advantages.Description1' | translate}}</li>
    <li>{{'DesertStorm.Strategies.Advantages.Description2' | translate}}</li>
    <li>{{'DesertStorm.Strategies.Advantages.Description3' | translate}}</li>
  </ol>
  <b>{{'DesertStorm.Strategies.Disadvantages.Title' | translate}}</b>
  <ol>
    <li>{{'DesertStorm.Strategies.Disadvantages.Description1' | translate}}</li>
    <li>{{'DesertStorm.Strategies.Disadvantages.Description2' | translate}}</li>
    <li>{{'DesertStorm.Strategies.Disadvantages.Description3' | translate}}</li>
    <li>{{'DesertStorm.Strategies.Disadvantages.Description4' | translate}}</li>
  </ol>
  <p>{{'DesertStorm.Strategies.Disadvantages.Description5' | translate}}</p>

  <h6>{{'DesertStorm.Strategies.BuildingInEnemy.Title' | translate}}</h6>
  <p>{{'DesertStorm.Strategies.BuildingInEnemy.Description1' | translate}}</p>
  <ol>
    <li>{{'DesertStorm.Strategies.BuildingInEnemy.Description2' | translate}}</li>
    <li>{{'DesertStorm.Strategies.BuildingInEnemy.Description3' | translate}}</li>
  </ol>

  <h6>{{'DesertStorm.Strategies.ShouldNotDo.Title' | translate}}</h6>
  <p>{{'DesertStorm.Strategies.ShouldNotDo.Description1' | translate}}</p>
  <p>{{'DesertStorm.Strategies.ShouldNotDo.Description2' | translate}}</p>
  <ol>
    <li>{{'DesertStorm.Strategies.ShouldNotDo.Description3' | translate}}</li>
    <li>{{'DesertStorm.Strategies.ShouldNotDo.Description4' | translate}}</li>
  </ol>
</div>
